<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_L_C</key>
	<dict>
		<key>@MMK_R_R_Bha</key>
		<integer>-140</integer>
		<key>@MMK_R_R_Ca</key>
		<integer>-180</integer>
		<key>@MMK_R_R_Cha</key>
		<integer>-80</integer>
		<key>@MMK_R_R_Dda</key>
		<integer>-140</integer>
		<key>@MMK_R_R_Dha</key>
		<integer>-90</integer>
		<key>@MMK_R_R_Ga</key>
		<integer>-50</integer>
		<key>@MMK_R_R_Gha</key>
		<integer>-110</integer>
		<key>@MMK_R_R_Ha</key>
		<integer>-90</integer>
		<key>@MMK_R_R_I</key>
		<integer>-80</integer>
		<key>@MMK_R_R_La</key>
		<integer>15</integer>
		<key>@MMK_R_R_Na</key>
		<integer>-20</integer>
		<key>@MMK_R_R_Nna</key>
		<integer>-25</integer>
		<key>@MMK_R_R_Nya</key>
		<integer>10</integer>
		<key>@MMK_R_R_Pa</key>
		<integer>-55</integer>
		<key>@MMK_R_R_Pha</key>
		<integer>-130</integer>
		<key>@MMK_R_R_Ra</key>
		<integer>-40</integer>
		<key>@MMK_R_R_Tha</key>
		<integer>-70</integer>
		<key>@MMK_R_R_Ya</key>
		<integer>-15</integer>
	</dict>
	<key>@MMK_L_L_Da</key>
	<dict>
		<key>@MMK_R_R_A</key>
		<integer>10</integer>
		<key>@MMK_R_R_Bha</key>
		<integer>10</integer>
		<key>@MMK_R_R_DaBha</key>
		<integer>30</integer>
		<key>@MMK_R_R_Dda</key>
		<integer>30</integer>
		<key>@MMK_R_R_Dha</key>
		<integer>20</integer>
		<key>@MMK_R_R_Ha</key>
		<integer>20</integer>
		<key>@MMK_R_R_I</key>
		<integer>20</integer>
		<key>@MMK_R_R_KaSsa</key>
		<integer>30</integer>
		<key>@MMK_R_R_La</key>
		<integer>20</integer>
		<key>@MMK_R_R_Lla</key>
		<integer>20</integer>
		<key>@MMK_R_R_Ra</key>
		<integer>20</integer>
		<key>@MMK_R_R_Sha</key>
		<integer>40</integer>
		<key>@MMK_R_R_ShaRa</key>
		<integer>30</integer>
		<key>@MMK_R_R_Ta</key>
		<integer>20</integer>
		<key>@MMK_R_R_TaRa</key>
		<integer>10</integer>
		<key>@MMK_R_R_U</key>
		<integer>10</integer>
	</dict>
	<key>@MMK_L_L_Gh</key>
	<dict>
		<key>@MMK_R_R_Bha</key>
		<integer>-150</integer>
		<key>@MMK_R_R_Ca</key>
		<integer>-150</integer>
		<key>@MMK_R_R_Cha</key>
		<integer>-60</integer>
		<key>@MMK_R_R_Dda</key>
		<integer>-160</integer>
		<key>@MMK_R_R_Dha</key>
		<integer>-80</integer>
		<key>@MMK_R_R_Ga</key>
		<integer>-60</integer>
		<key>@MMK_R_R_Gha</key>
		<integer>-90</integer>
		<key>@MMK_R_R_Ha</key>
		<integer>-90</integer>
		<key>@MMK_R_R_I</key>
		<integer>-95</integer>
		<key>@MMK_R_R_La</key>
		<integer>10</integer>
		<key>@MMK_R_R_Ma</key>
		<integer>-10</integer>
		<key>@MMK_R_R_Na</key>
		<integer>-20</integer>
		<key>@MMK_R_R_Nna</key>
		<integer>-20</integer>
		<key>@MMK_R_R_Nya</key>
		<integer>10</integer>
		<key>@MMK_R_R_Pa</key>
		<integer>-70</integer>
		<key>@MMK_R_R_Pha</key>
		<integer>-140</integer>
		<key>@MMK_R_R_Ra</key>
		<integer>-45</integer>
		<key>@MMK_R_R_Tha</key>
		<integer>-90</integer>
		<key>@MMK_R_R_Ya</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_L_H</key>
	<dict>
		<key>@MMK_R_R_Bha</key>
		<integer>-120</integer>
		<key>@MMK_R_R_Ca</key>
		<integer>-130</integer>
		<key>@MMK_R_R_Cha</key>
		<integer>-60</integer>
		<key>@MMK_R_R_Dda</key>
		<integer>-90</integer>
		<key>@MMK_R_R_Dha</key>
		<integer>-50</integer>
		<key>@MMK_R_R_Ga</key>
		<integer>-25</integer>
		<key>@MMK_R_R_Gha</key>
		<integer>-70</integer>
		<key>@MMK_R_R_Ha</key>
		<integer>-30</integer>
		<key>@MMK_R_R_I</key>
		<integer>-25</integer>
		<key>@MMK_R_R_Ja</key>
		<integer>25</integer>
		<key>@MMK_R_R_Ka</key>
		<integer>10</integer>
		<key>@MMK_R_R_Nya</key>
		<integer>20</integer>
		<key>@MMK_R_R_Pa</key>
		<integer>-35</integer>
		<key>@MMK_R_R_Pha</key>
		<integer>-65</integer>
		<key>@MMK_R_R_Ra</key>
		<integer>-25</integer>
		<key>@MMK_R_R_Tha</key>
		<integer>-45</integer>
	</dict>
	<key>@MMK_L_L_Jh</key>
	<dict>
		<key>@MMK_R_R_Bha</key>
		<integer>-120</integer>
		<key>@MMK_R_R_Ca</key>
		<integer>-120</integer>
		<key>@MMK_R_R_Cha</key>
		<integer>-30</integer>
		<key>@MMK_R_R_Da</key>
		<integer>30</integer>
		<key>@MMK_R_R_Dda</key>
		<integer>-130</integer>
		<key>@MMK_R_R_Dha</key>
		<integer>-45</integer>
		<key>@MMK_R_R_Ga</key>
		<integer>-40</integer>
		<key>@MMK_R_R_Gha</key>
		<integer>-60</integer>
		<key>@MMK_R_R_Ha</key>
		<integer>-60</integer>
		<key>@MMK_R_R_I</key>
		<integer>-70</integer>
		<key>@MMK_R_R_Ka</key>
		<integer>30</integer>
		<key>@MMK_R_R_La</key>
		<integer>30</integer>
		<key>@MMK_R_R_Nya</key>
		<integer>40</integer>
		<key>@MMK_R_R_Pa</key>
		<integer>-45</integer>
		<key>@MMK_R_R_Pha</key>
		<integer>-120</integer>
		<key>@MMK_R_R_Ra</key>
		<integer>-40</integer>
		<key>@MMK_R_R_Sha</key>
		<integer>-40</integer>
		<key>@MMK_R_R_Ta</key>
		<integer>20</integer>
		<key>@MMK_R_R_Tha</key>
		<integer>-60</integer>
	</dict>
	<key>@MMK_L_L_Ka</key>
	<dict>
		<key>@MMK_R_R_Ca</key>
		<integer>10</integer>
		<key>@MMK_R_R_Da</key>
		<integer>20</integer>
		<key>@MMK_R_R_DaBha</key>
		<integer>20</integer>
		<key>@MMK_R_R_Dda</key>
		<integer>10</integer>
		<key>@MMK_R_R_Gha</key>
		<integer>-30</integer>
		<key>@MMK_R_R_Ha</key>
		<integer>10</integer>
		<key>@MMK_R_R_I</key>
		<integer>20</integer>
		<key>@MMK_R_R_Ja</key>
		<integer>30</integer>
		<key>@MMK_R_R_Ka</key>
		<integer>10</integer>
		<key>@MMK_R_R_KaSsa</key>
		<integer>20</integer>
		<key>@MMK_R_R_La</key>
		<integer>20</integer>
		<key>@MMK_R_R_Lla</key>
		<integer>20</integer>
		<key>@MMK_R_R_Na</key>
		<integer>20</integer>
		<key>@MMK_R_R_Nya</key>
		<integer>30</integer>
		<key>@MMK_R_R_Ra</key>
		<integer>40</integer>
		<key>@MMK_R_R_Sha</key>
		<integer>30</integer>
		<key>@MMK_R_R_ShaRa</key>
		<integer>30</integer>
		<key>@MMK_R_R_Ta</key>
		<integer>20</integer>
		<key>@MMK_R_R_Va</key>
		<integer>20</integer>
		<key>@MMK_R_R_Ya</key>
		<integer>20</integer>
	</dict>
	<key>@MMK_L_L_Kh</key>
	<dict>
		<key>@MMK_R_R_Bha</key>
		<integer>-20</integer>
		<key>@MMK_R_R_Ca</key>
		<integer>-50</integer>
		<key>@MMK_R_R_Cha</key>
		<integer>55</integer>
		<key>@MMK_R_R_Da</key>
		<integer>55</integer>
		<key>@MMK_R_R_Dda</key>
		<integer>40</integer>
		<key>@MMK_R_R_Ga</key>
		<integer>20</integer>
		<key>@MMK_R_R_Gha</key>
		<integer>-70</integer>
		<key>@MMK_R_R_Ha</key>
		<integer>55</integer>
		<key>@MMK_R_R_Ja</key>
		<integer>5</integer>
		<key>@MMK_R_R_Ka</key>
		<integer>-30</integer>
		<key>@MMK_R_R_La</key>
		<integer>50</integer>
		<key>@MMK_R_R_Na</key>
		<integer>-10</integer>
		<key>@MMK_R_R_Nna</key>
		<integer>-30</integer>
		<key>@MMK_R_R_Pa</key>
		<integer>-40</integer>
		<key>@MMK_R_R_Pha</key>
		<integer>-40</integer>
		<key>@MMK_R_R_Ra</key>
		<integer>20</integer>
		<key>@MMK_R_R_Sha</key>
		<integer>-40</integer>
		<key>@MMK_R_R_Ta</key>
		<integer>55</integer>
		<key>@MMK_R_R_Tha</key>
		<integer>-60</integer>
		<key>@MMK_R_R_Ya</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_L_L</key>
	<dict>
		<key>@MMK_R_R_Bha</key>
		<integer>-60</integer>
		<key>@MMK_R_R_Cha</key>
		<integer>-90</integer>
		<key>@MMK_R_R_Da</key>
		<integer>-100</integer>
		<key>@MMK_R_R_Dda</key>
		<integer>-50</integer>
		<key>@MMK_R_R_Dha</key>
		<integer>-180</integer>
		<key>@MMK_R_R_Ga</key>
		<integer>-125</integer>
		<key>@MMK_R_R_Gha</key>
		<integer>-200</integer>
		<key>@MMK_R_R_La</key>
		<integer>-45</integer>
		<key>@MMK_R_R_Ma</key>
		<integer>-90</integer>
		<key>@MMK_R_R_Pa</key>
		<integer>-10</integer>
		<key>@MMK_R_R_Pha</key>
		<integer>-10</integer>
		<key>@MMK_R_R_Ra</key>
		<integer>40</integer>
		<key>@MMK_R_R_Ta</key>
		<integer>-75</integer>
		<key>@MMK_R_R_Va</key>
		<integer>-15</integer>
	</dict>
	<key>@MMK_L_L_M</key>
	<dict>
		<key>@MMK_R_R_Bha</key>
		<integer>-130</integer>
		<key>@MMK_R_R_Ca</key>
		<integer>-150</integer>
		<key>@MMK_R_R_Cha</key>
		<integer>-95</integer>
		<key>@MMK_R_R_Dda</key>
		<integer>-80</integer>
		<key>@MMK_R_R_Dha</key>
		<integer>-70</integer>
		<key>@MMK_R_R_Ga</key>
		<integer>-40</integer>
		<key>@MMK_R_R_Gha</key>
		<integer>-80</integer>
		<key>@MMK_R_R_Ha</key>
		<integer>-20</integer>
		<key>@MMK_R_R_I</key>
		<integer>-20</integer>
		<key>@MMK_R_R_Ja</key>
		<integer>30</integer>
		<key>@MMK_R_R_Ka</key>
		<integer>20</integer>
		<key>@MMK_R_R_Ma</key>
		<integer>-30</integer>
		<key>@MMK_R_R_Nya</key>
		<integer>5</integer>
		<key>@MMK_R_R_Pa</key>
		<integer>-30</integer>
		<key>@MMK_R_R_Pha</key>
		<integer>-60</integer>
		<key>@MMK_R_R_Ra</key>
		<integer>-15</integer>
		<key>@MMK_R_R_Tha</key>
		<integer>-25</integer>
	</dict>
	<key>@MMK_L_L_N</key>
	<dict>
		<key>@MMK_R_R_Bha</key>
		<integer>-150</integer>
		<key>@MMK_R_R_Ca</key>
		<integer>-170</integer>
		<key>@MMK_R_R_Cha</key>
		<integer>-140</integer>
		<key>@MMK_R_R_Dda</key>
		<integer>-85</integer>
		<key>@MMK_R_R_Dha</key>
		<integer>-90</integer>
		<key>@MMK_R_R_Ga</key>
		<integer>-80</integer>
		<key>@MMK_R_R_Gha</key>
		<integer>-110</integer>
		<key>@MMK_R_R_Ha</key>
		<integer>-30</integer>
		<key>@MMK_R_R_I</key>
		<integer>-25</integer>
		<key>@MMK_R_R_Ja</key>
		<integer>25</integer>
		<key>@MMK_R_R_La</key>
		<integer>-5</integer>
		<key>@MMK_R_R_Ma</key>
		<integer>-70</integer>
		<key>@MMK_R_R_Na</key>
		<integer>-20</integer>
		<key>@MMK_R_R_Nna</key>
		<integer>-10</integer>
		<key>@MMK_R_R_Pa</key>
		<integer>-35</integer>
		<key>@MMK_R_R_Pha</key>
		<integer>-65</integer>
		<key>@MMK_R_R_Ra</key>
		<integer>-30</integer>
		<key>@MMK_R_R_Tha</key>
		<integer>-60</integer>
	</dict>
	<key>@MMK_L_L_Ny</key>
	<dict>
		<key>@MMK_R_R_Bha</key>
		<integer>-105</integer>
		<key>@MMK_R_R_Ca</key>
		<integer>-145</integer>
		<key>@MMK_R_R_Cha</key>
		<integer>-80</integer>
		<key>@MMK_R_R_Dda</key>
		<integer>-60</integer>
		<key>@MMK_R_R_Dha</key>
		<integer>-65</integer>
		<key>@MMK_R_R_Gha</key>
		<integer>-80</integer>
		<key>@MMK_R_R_Ja</key>
		<integer>20</integer>
		<key>@MMK_R_R_Ka</key>
		<integer>20</integer>
		<key>@MMK_R_R_La</key>
		<integer>20</integer>
		<key>@MMK_R_R_Nya</key>
		<integer>30</integer>
		<key>@MMK_R_R_Pa</key>
		<integer>-10</integer>
		<key>@MMK_R_R_Pha</key>
		<integer>-35</integer>
		<key>@MMK_R_R_Sha</key>
		<integer>-20</integer>
		<key>@MMK_R_R_Tha</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_L_P</key>
	<dict>
		<key>@MMK_R_R_Bha</key>
		<integer>-100</integer>
		<key>@MMK_R_R_Ca</key>
		<integer>-135</integer>
		<key>@MMK_R_R_Cha</key>
		<integer>-55</integer>
		<key>@MMK_R_R_Da</key>
		<integer>10</integer>
		<key>@MMK_R_R_Dda</key>
		<integer>-75</integer>
		<key>@MMK_R_R_Dha</key>
		<integer>-55</integer>
		<key>@MMK_R_R_Ga</key>
		<integer>-20</integer>
		<key>@MMK_R_R_Gha</key>
		<integer>-70</integer>
		<key>@MMK_R_R_Ha</key>
		<integer>-30</integer>
		<key>@MMK_R_R_I</key>
		<integer>-20</integer>
		<key>@MMK_R_R_Ja</key>
		<integer>10</integer>
		<key>@MMK_R_R_Ka</key>
		<integer>25</integer>
		<key>@MMK_R_R_La</key>
		<integer>30</integer>
		<key>@MMK_R_R_Pa</key>
		<integer>-20</integer>
		<key>@MMK_R_R_Pha</key>
		<integer>-50</integer>
		<key>@MMK_R_R_Ta</key>
		<integer>10</integer>
		<key>@MMK_R_R_Tha</key>
		<integer>-45</integer>
	</dict>
	<key>@MMK_L_L_Ph</key>
	<dict>
		<key>@MMK_R_R_Bha</key>
		<integer>-140</integer>
		<key>@MMK_R_R_Ca</key>
		<integer>-130</integer>
		<key>@MMK_R_R_Cha</key>
		<integer>-55</integer>
		<key>@MMK_R_R_Dda</key>
		<integer>-60</integer>
		<key>@MMK_R_R_Dha</key>
		<integer>-50</integer>
		<key>@MMK_R_R_Ga</key>
		<integer>-80</integer>
		<key>@MMK_R_R_Gha</key>
		<integer>-70</integer>
		<key>@MMK_R_R_Ja</key>
		<integer>40</integer>
		<key>@MMK_R_R_Ka</key>
		<integer>30</integer>
		<key>@MMK_R_R_La</key>
		<integer>20</integer>
		<key>@MMK_R_R_Pa</key>
		<integer>-15</integer>
		<key>@MMK_R_R_Pha</key>
		<integer>-40</integer>
		<key>@MMK_R_R_Tha</key>
		<integer>-35</integer>
		<key>@MMK_R_R_Va</key>
		<integer>20</integer>
	</dict>
	<key>@MMK_L_L_Ra</key>
	<dict>
		<key>@MMK_R_R_Ca</key>
		<integer>-20</integer>
		<key>@MMK_R_R_Da</key>
		<integer>-30</integer>
		<key>@MMK_R_R_Ha</key>
		<integer>-10</integer>
		<key>@MMK_R_R_Ja</key>
		<integer>-50</integer>
		<key>@MMK_R_R_Ka</key>
		<integer>-30</integer>
		<key>@MMK_R_R_La</key>
		<integer>-40</integer>
		<key>@MMK_R_R_Na</key>
		<integer>-20</integer>
		<key>@MMK_R_R_Nya</key>
		<integer>-20</integer>
		<key>@MMK_R_R_Ra</key>
		<integer>-40</integer>
		<key>@MMK_R_R_Ta</key>
		<integer>-30</integer>
		<key>@MMK_R_R_Va</key>
		<integer>-50</integer>
	</dict>
	<key>@MMK_L_L_Rr</key>
	<dict>
		<key>@MMK_R_R_A</key>
		<integer>30</integer>
		<key>@MMK_R_R_Cha</key>
		<integer>10</integer>
		<key>@MMK_R_R_Da</key>
		<integer>20</integer>
		<key>@MMK_R_R_DaBha</key>
		<integer>50</integer>
		<key>@MMK_R_R_Dda</key>
		<integer>40</integer>
		<key>@MMK_R_R_Dha</key>
		<integer>-10</integer>
		<key>@MMK_R_R_Gha</key>
		<integer>-40</integer>
		<key>@MMK_R_R_Ha</key>
		<integer>20</integer>
		<key>@MMK_R_R_I</key>
		<integer>50</integer>
		<key>@MMK_R_R_Ja</key>
		<integer>20</integer>
		<key>@MMK_R_R_Ka</key>
		<integer>40</integer>
		<key>@MMK_R_R_KaSsa</key>
		<integer>40</integer>
		<key>@MMK_R_R_La</key>
		<integer>45</integer>
		<key>@MMK_R_R_Lla</key>
		<integer>40</integer>
		<key>@MMK_R_R_Ma</key>
		<integer>10</integer>
		<key>@MMK_R_R_Na</key>
		<integer>20</integer>
		<key>@MMK_R_R_Nya</key>
		<integer>30</integer>
		<key>@MMK_R_R_Ra</key>
		<integer>40</integer>
		<key>@MMK_R_R_Sha</key>
		<integer>40</integer>
		<key>@MMK_R_R_ShaRa</key>
		<integer>40</integer>
		<key>@MMK_R_R_Ta</key>
		<integer>30</integer>
		<key>@MMK_R_R_U</key>
		<integer>40</integer>
		<key>@MMK_R_R_Va</key>
		<integer>30</integer>
	</dict>
	<key>@MMK_L_L_S</key>
	<dict>
		<key>@MMK_R_R_Bha</key>
		<integer>-120</integer>
		<key>@MMK_R_R_Ca</key>
		<integer>-145</integer>
		<key>@MMK_R_R_Cha</key>
		<integer>-85</integer>
		<key>@MMK_R_R_Dda</key>
		<integer>-50</integer>
		<key>@MMK_R_R_Dha</key>
		<integer>-60</integer>
		<key>@MMK_R_R_Gha</key>
		<integer>-80</integer>
		<key>@MMK_R_R_Ja</key>
		<integer>30</integer>
		<key>@MMK_R_R_Ka</key>
		<integer>20</integer>
		<key>@MMK_R_R_La</key>
		<integer>20</integer>
		<key>@MMK_R_R_Pha</key>
		<integer>-30</integer>
		<key>@MMK_R_R_Tha</key>
		<integer>-25</integer>
	</dict>
	<key>@MMK_L_L_T</key>
	<dict>
		<key>@MMK_R_R_Bha</key>
		<integer>-180</integer>
		<key>@MMK_R_R_Cha</key>
		<integer>-5</integer>
		<key>@MMK_R_R_Da</key>
		<integer>-80</integer>
		<key>@MMK_R_R_Ga</key>
		<integer>-80</integer>
		<key>@MMK_R_R_Gha</key>
		<integer>-125</integer>
		<key>@MMK_R_R_Ha</key>
		<integer>20</integer>
		<key>@MMK_R_R_I</key>
		<integer>30</integer>
		<key>@MMK_R_R_La</key>
		<integer>-10</integer>
		<key>@MMK_R_R_Ma</key>
		<integer>-60</integer>
		<key>@MMK_R_R_Ra</key>
		<integer>30</integer>
		<key>@MMK_R_R_Ta</key>
		<integer>-50</integer>
	</dict>
	<key>@MMK_L_L_V</key>
	<dict>
		<key>@MMK_R_R_Bha</key>
		<integer>-140</integer>
		<key>@MMK_R_R_Ca</key>
		<integer>-30</integer>
		<key>@MMK_R_R_Cha</key>
		<integer>-90</integer>
		<key>@MMK_R_R_Dda</key>
		<integer>-50</integer>
		<key>@MMK_R_R_Dha</key>
		<integer>-120</integer>
		<key>@MMK_R_R_Gha</key>
		<integer>-140</integer>
		<key>@MMK_R_R_Ja</key>
		<integer>30</integer>
		<key>@MMK_R_R_Ka</key>
		<integer>30</integer>
		<key>@MMK_R_R_La</key>
		<integer>20</integer>
		<key>@MMK_R_R_Ma</key>
		<integer>15</integer>
		<key>@MMK_R_R_Nna</key>
		<integer>-20</integer>
		<key>@MMK_R_R_Nya</key>
		<integer>15</integer>
		<key>@MMK_R_R_Pa</key>
		<integer>-40</integer>
		<key>@MMK_R_R_Pha</key>
		<integer>-50</integer>
		<key>@MMK_R_R_Ra</key>
		<integer>15</integer>
		<key>@MMK_R_R_Tha</key>
		<integer>-20</integer>
		<key>@MMK_R_R_Va</key>
		<integer>5</integer>
		<key>@MMK_R_R_Ya</key>
		<integer>25</integer>
	</dict>
	<key>@MMK_L_L_Y</key>
	<dict>
		<key>@MMK_R_R_Bha</key>
		<integer>-150</integer>
		<key>@MMK_R_R_Ca</key>
		<integer>-180</integer>
		<key>@MMK_R_R_Cha</key>
		<integer>-120</integer>
		<key>@MMK_R_R_Dda</key>
		<integer>-55</integer>
		<key>@MMK_R_R_Dha</key>
		<integer>-100</integer>
		<key>@MMK_R_R_Ga</key>
		<integer>-20</integer>
		<key>@MMK_R_R_Gha</key>
		<integer>-115</integer>
		<key>@MMK_R_R_Ja</key>
		<integer>30</integer>
		<key>@MMK_R_R_Ka</key>
		<integer>20</integer>
		<key>@MMK_R_R_La</key>
		<integer>10</integer>
		<key>@MMK_R_R_Nna</key>
		<integer>-10</integer>
		<key>@MMK_R_R_Nya</key>
		<integer>15</integer>
		<key>@MMK_R_R_Pa</key>
		<integer>-25</integer>
		<key>@MMK_R_R_Pha</key>
		<integer>-50</integer>
		<key>@MMK_R_R_Tha</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_L_colon</key>
	<dict>
		<key>@MMK_R_R_quoteright</key>
		<integer>-300</integer>
	</dict>
	<key>@MMK_L_L_comma</key>
	<dict>
		<key>@MMK_R_R_quoteright</key>
		<integer>-300</integer>
	</dict>
	<key>@MMK_L_L_quoteleft</key>
	<dict>
		<key>@MMK_R_R_A</key>
		<integer>-150</integer>
		<key>@MMK_R_R_Dha</key>
		<integer>-40</integer>
		<key>@MMK_R_R_KaSsa</key>
		<integer>-200</integer>
		<key>@MMK_R_R_Sha</key>
		<integer>-150</integer>
		<key>@MMK_R_R_ShaRa</key>
		<integer>-160</integer>
		<key>@MMK_R_R_Tha</key>
		<integer>-60</integer>
	</dict>
	<key>@MMK_L_L_quoteright</key>
	<dict>
		<key>@MMK_R_R_colon</key>
		<integer>-300</integer>
		<key>@MMK_R_R_comma</key>
		<integer>-390</integer>
	</dict>
	<key>chadeva</key>
	<dict>
		<key>@MMK_R_R_Bha</key>
		<integer>30</integer>
		<key>@MMK_R_R_Ca</key>
		<integer>40</integer>
		<key>@MMK_R_R_Da</key>
		<integer>30</integer>
		<key>@MMK_R_R_DaBha</key>
		<integer>20</integer>
		<key>@MMK_R_R_Dda</key>
		<integer>10</integer>
		<key>@MMK_R_R_Dha</key>
		<integer>20</integer>
		<key>@MMK_R_R_Gha</key>
		<integer>20</integer>
		<key>@MMK_R_R_Ha</key>
		<integer>30</integer>
		<key>@MMK_R_R_I</key>
		<integer>40</integer>
		<key>@MMK_R_R_Ja</key>
		<integer>10</integer>
		<key>@MMK_R_R_Ka</key>
		<integer>30</integer>
		<key>@MMK_R_R_KaSsa</key>
		<integer>30</integer>
		<key>@MMK_R_R_La</key>
		<integer>30</integer>
		<key>@MMK_R_R_Ma</key>
		<integer>30</integer>
		<key>@MMK_R_R_Na</key>
		<integer>10</integer>
		<key>@MMK_R_R_Nya</key>
		<integer>10</integer>
		<key>@MMK_R_R_Ra</key>
		<integer>40</integer>
		<key>@MMK_R_R_Sha</key>
		<integer>40</integer>
		<key>@MMK_R_R_ShaRa</key>
		<integer>40</integer>
		<key>@MMK_R_R_Va</key>
		<integer>30</integer>
	</dict>
	<key>eightdeva</key>
	<dict>
		<key>ninedeva</key>
		<integer>-20</integer>
		<key>onedevaNEP</key>
		<integer>10</integer>
		<key>threedeva</key>
		<integer>20</integer>
	</dict>
	<key>eightdevaNEP</key>
	<dict>
		<key>fourdeva</key>
		<integer>40</integer>
		<key>ninedeva</key>
		<integer>30</integer>
		<key>onedevaNEP</key>
		<integer>50</integer>
		<key>threedeva</key>
		<integer>40</integer>
		<key>twodeva</key>
		<integer>20</integer>
	</dict>
	<key>fivedeva</key>
	<dict>
		<key>fivedevaNEP</key>
		<integer>60</integer>
		<key>fourdeva</key>
		<integer>-30</integer>
		<key>ninedeva</key>
		<integer>-30</integer>
		<key>onedeva</key>
		<integer>20</integer>
		<key>onedevaNEP</key>
		<integer>-45</integer>
		<key>threedeva</key>
		<integer>30</integer>
		<key>twodeva</key>
		<integer>-20</integer>
	</dict>
	<key>fivedevaNEP</key>
	<dict>
		<key>ninedeva</key>
		<integer>25</integer>
		<key>onedevaNEP</key>
		<integer>40</integer>
		<key>threedeva</key>
		<integer>30</integer>
	</dict>
	<key>fourdeva</key>
	<dict>
		<key>eightdeva</key>
		<integer>-60</integer>
		<key>eightdevaNEP</key>
		<integer>60</integer>
		<key>fivedeva</key>
		<integer>-10</integer>
		<key>fivedevaNEP</key>
		<integer>70</integer>
		<key>fourdeva</key>
		<integer>30</integer>
		<key>ninedeva</key>
		<integer>40</integer>
		<key>onedeva</key>
		<integer>30</integer>
		<key>onedevaNEP</key>
		<integer>40</integer>
		<key>sevendeva</key>
		<integer>40</integer>
		<key>threedeva</key>
		<integer>70</integer>
		<key>twodeva</key>
		<integer>50</integer>
		<key>zerodeva</key>
		<integer>-50</integer>
	</dict>
	<key>hadeva</key>
	<dict>
		<key>@MMK_R_R_A</key>
		<integer>10</integer>
		<key>@MMK_R_R_Ca</key>
		<integer>10</integer>
		<key>@MMK_R_R_DaBha</key>
		<integer>30</integer>
		<key>@MMK_R_R_Dda</key>
		<integer>10</integer>
		<key>@MMK_R_R_I</key>
		<integer>30</integer>
		<key>@MMK_R_R_Ja</key>
		<integer>-10</integer>
		<key>@MMK_R_R_La</key>
		<integer>20</integer>
		<key>@MMK_R_R_Sha</key>
		<integer>30</integer>
		<key>@MMK_R_R_ShaRa</key>
		<integer>10</integer>
		<key>@MMK_R_R_U</key>
		<integer>10</integer>
	</dict>
	<key>ladevaMAR</key>
	<dict>
		<key>@MMK_R_R_A</key>
		<integer>20</integer>
		<key>@MMK_R_R_Bha</key>
		<integer>10</integer>
		<key>@MMK_R_R_Ca</key>
		<integer>20</integer>
		<key>@MMK_R_R_Cha</key>
		<integer>30</integer>
		<key>@MMK_R_R_Da</key>
		<integer>40</integer>
		<key>@MMK_R_R_DaBha</key>
		<integer>40</integer>
		<key>@MMK_R_R_Dda</key>
		<integer>30</integer>
		<key>@MMK_R_R_Dha</key>
		<integer>20</integer>
		<key>@MMK_R_R_Ha</key>
		<integer>30</integer>
		<key>@MMK_R_R_I</key>
		<integer>40</integer>
		<key>@MMK_R_R_Ja</key>
		<integer>20</integer>
		<key>@MMK_R_R_Ka</key>
		<integer>40</integer>
		<key>@MMK_R_R_KaSsa</key>
		<integer>30</integer>
		<key>@MMK_R_R_La</key>
		<integer>30</integer>
		<key>@MMK_R_R_Lla</key>
		<integer>50</integer>
		<key>@MMK_R_R_Ma</key>
		<integer>30</integer>
		<key>@MMK_R_R_Na</key>
		<integer>20</integer>
		<key>@MMK_R_R_Nna</key>
		<integer>30</integer>
		<key>@MMK_R_R_Nya</key>
		<integer>40</integer>
		<key>@MMK_R_R_Ra</key>
		<integer>30</integer>
		<key>@MMK_R_R_Sha</key>
		<integer>50</integer>
		<key>@MMK_R_R_ShaRa</key>
		<integer>40</integer>
		<key>@MMK_R_R_Ta</key>
		<integer>30</integer>
		<key>@MMK_R_R_U</key>
		<integer>10</integer>
		<key>@MMK_R_R_Va</key>
		<integer>30</integer>
	</dict>
	<key>ninedeva</key>
	<dict>
		<key>eightdeva</key>
		<integer>-10</integer>
		<key>fivedeva</key>
		<integer>-30</integer>
		<key>fivedevaNEP</key>
		<integer>10</integer>
		<key>ninedevaNEP</key>
		<integer>-20</integer>
		<key>onedeva</key>
		<integer>15</integer>
		<key>sevendeva</key>
		<integer>-10</integer>
		<key>sixdeva</key>
		<integer>10</integer>
		<key>threedeva</key>
		<integer>30</integer>
		<key>zerodeva</key>
		<integer>-30</integer>
	</dict>
	<key>ninedevaNEP</key>
	<dict>
		<key>fourdeva</key>
		<integer>30</integer>
		<key>ninedeva</key>
		<integer>35</integer>
		<key>onedevaNEP</key>
		<integer>50</integer>
		<key>sevendeva</key>
		<integer>10</integer>
		<key>threedeva</key>
		<integer>50</integer>
		<key>twodeva</key>
		<integer>10</integer>
	</dict>
	<key>onedeva</key>
	<dict>
		<key>eightdeva</key>
		<integer>-40</integer>
		<key>fivedeva</key>
		<integer>-30</integer>
		<key>fourdeva</key>
		<integer>35</integer>
		<key>ninedeva</key>
		<integer>50</integer>
		<key>onedeva</key>
		<integer>40</integer>
		<key>sevendeva</key>
		<integer>15</integer>
		<key>sixdeva</key>
		<integer>30</integer>
		<key>threedeva</key>
		<integer>60</integer>
		<key>twodeva</key>
		<integer>20</integer>
	</dict>
	<key>onedevaNEP</key>
	<dict>
		<key>eightdevaNEP</key>
		<integer>40</integer>
		<key>fivedeva</key>
		<integer>20</integer>
		<key>fivedevaNEP</key>
		<integer>50</integer>
		<key>fourdeva</key>
		<integer>30</integer>
		<key>ninedeva</key>
		<integer>20</integer>
		<key>ninedevaNEP</key>
		<integer>40</integer>
		<key>sevendeva</key>
		<integer>20</integer>
		<key>sixdeva</key>
		<integer>50</integer>
		<key>threedeva</key>
		<integer>60</integer>
		<key>twodeva</key>
		<integer>15</integer>
	</dict>
	<key>raudeva</key>
	<dict>
		<key>@MMK_R_R_A</key>
		<integer>10</integer>
		<key>@MMK_R_R_Ca</key>
		<integer>20</integer>
		<key>@MMK_R_R_Cha</key>
		<integer>10</integer>
		<key>@MMK_R_R_Da</key>
		<integer>20</integer>
		<key>@MMK_R_R_DaBha</key>
		<integer>40</integer>
		<key>@MMK_R_R_Dda</key>
		<integer>20</integer>
		<key>@MMK_R_R_Dha</key>
		<integer>10</integer>
		<key>@MMK_R_R_Ha</key>
		<integer>30</integer>
		<key>@MMK_R_R_I</key>
		<integer>40</integer>
		<key>@MMK_R_R_Ja</key>
		<integer>30</integer>
		<key>@MMK_R_R_Ka</key>
		<integer>40</integer>
		<key>@MMK_R_R_KaSsa</key>
		<integer>20</integer>
		<key>@MMK_R_R_La</key>
		<integer>40</integer>
		<key>@MMK_R_R_Lla</key>
		<integer>40</integer>
		<key>@MMK_R_R_Ma</key>
		<integer>20</integer>
		<key>@MMK_R_R_Na</key>
		<integer>30</integer>
		<key>@MMK_R_R_Nya</key>
		<integer>40</integer>
		<key>@MMK_R_R_Ra</key>
		<integer>40</integer>
		<key>@MMK_R_R_Sha</key>
		<integer>40</integer>
		<key>@MMK_R_R_ShaRa</key>
		<integer>40</integer>
		<key>@MMK_R_R_Ta</key>
		<integer>30</integer>
		<key>@MMK_R_R_TaRa</key>
		<integer>20</integer>
		<key>@MMK_R_R_Va</key>
		<integer>20</integer>
	</dict>
	<key>rauudeva</key>
	<dict>
		<key>@MMK_R_R_A</key>
		<integer>10</integer>
		<key>@MMK_R_R_Bha</key>
		<integer>-20</integer>
		<key>@MMK_R_R_Ca</key>
		<integer>-20</integer>
		<key>@MMK_R_R_Da</key>
		<integer>40</integer>
		<key>@MMK_R_R_DaBha</key>
		<integer>40</integer>
		<key>@MMK_R_R_Dda</key>
		<integer>20</integer>
		<key>@MMK_R_R_Dha</key>
		<integer>-10</integer>
		<key>@MMK_R_R_Gha</key>
		<integer>-20</integer>
		<key>@MMK_R_R_Ha</key>
		<integer>10</integer>
		<key>@MMK_R_R_I</key>
		<integer>30</integer>
		<key>@MMK_R_R_Ja</key>
		<integer>10</integer>
		<key>@MMK_R_R_Ka</key>
		<integer>40</integer>
		<key>@MMK_R_R_KaSsa</key>
		<integer>30</integer>
		<key>@MMK_R_R_La</key>
		<integer>40</integer>
		<key>@MMK_R_R_Lla</key>
		<integer>40</integer>
		<key>@MMK_R_R_Ma</key>
		<integer>30</integer>
		<key>@MMK_R_R_Na</key>
		<integer>30</integer>
		<key>@MMK_R_R_Nya</key>
		<integer>20</integer>
		<key>@MMK_R_R_Pa</key>
		<integer>-20</integer>
		<key>@MMK_R_R_Pha</key>
		<integer>-20</integer>
		<key>@MMK_R_R_Ra</key>
		<integer>10</integer>
		<key>@MMK_R_R_Sha</key>
		<integer>40</integer>
		<key>@MMK_R_R_ShaRa</key>
		<integer>40</integer>
		<key>@MMK_R_R_Ta</key>
		<integer>20</integer>
		<key>@MMK_R_R_U</key>
		<integer>10</integer>
		<key>@MMK_R_R_Va</key>
		<integer>30</integer>
	</dict>
	<key>rrvocalicdeva</key>
	<dict>
		<key>@MMK_R_R_Dha</key>
		<integer>-30</integer>
		<key>@MMK_R_R_Gha</key>
		<integer>-50</integer>
	</dict>
	<key>sevendeva</key>
	<dict>
		<key>eightdevaNEP</key>
		<integer>10</integer>
		<key>fivedeva</key>
		<integer>-10</integer>
		<key>fivedevaNEP</key>
		<integer>10</integer>
		<key>fourdeva</key>
		<integer>-45</integer>
		<key>ninedeva</key>
		<integer>-20</integer>
		<key>onedeva</key>
		<integer>10</integer>
		<key>onedevaNEP</key>
		<integer>-20</integer>
		<key>sevendeva</key>
		<integer>-20</integer>
		<key>threedeva</key>
		<integer>10</integer>
		<key>twodeva</key>
		<integer>-10</integer>
	</dict>
	<key>sixdeva</key>
	<dict>
		<key>eightdeva</key>
		<integer>30</integer>
		<key>fivedevaNEP</key>
		<integer>70</integer>
		<key>onedeva</key>
		<integer>30</integer>
		<key>onedevaNEP</key>
		<integer>-20</integer>
		<key>threedeva</key>
		<integer>35</integer>
	</dict>
	<key>threedeva</key>
	<dict>
		<key>eightdevaNEP</key>
		<integer>20</integer>
		<key>fivedeva</key>
		<integer>-40</integer>
		<key>fivedevaNEP</key>
		<integer>20</integer>
		<key>ninedeva</key>
		<integer>10</integer>
		<key>onedeva</key>
		<integer>20</integer>
		<key>threedeva</key>
		<integer>30</integer>
	</dict>
	<key>tthadeva</key>
	<dict>
		<key>@MMK_R_R_Bha</key>
		<integer>-10</integer>
		<key>@MMK_R_R_Ca</key>
		<integer>20</integer>
		<key>@MMK_R_R_Da</key>
		<integer>30</integer>
		<key>@MMK_R_R_DaBha</key>
		<integer>40</integer>
		<key>@MMK_R_R_Dda</key>
		<integer>30</integer>
		<key>@MMK_R_R_Gha</key>
		<integer>-10</integer>
		<key>@MMK_R_R_Ha</key>
		<integer>10</integer>
		<key>@MMK_R_R_I</key>
		<integer>30</integer>
		<key>@MMK_R_R_Ja</key>
		<integer>30</integer>
		<key>@MMK_R_R_Ka</key>
		<integer>10</integer>
		<key>@MMK_R_R_KaSsa</key>
		<integer>20</integer>
		<key>@MMK_R_R_La</key>
		<integer>30</integer>
		<key>@MMK_R_R_Lla</key>
		<integer>40</integer>
		<key>@MMK_R_R_Na</key>
		<integer>10</integer>
		<key>@MMK_R_R_Nya</key>
		<integer>30</integer>
		<key>@MMK_R_R_Ra</key>
		<integer>20</integer>
		<key>@MMK_R_R_Sha</key>
		<integer>40</integer>
		<key>@MMK_R_R_ShaRa</key>
		<integer>40</integer>
		<key>@MMK_R_R_Ta</key>
		<integer>30</integer>
		<key>@MMK_R_R_Va</key>
		<integer>20</integer>
	</dict>
	<key>twodeva</key>
	<dict>
		<key>eightdeva</key>
		<integer>-30</integer>
		<key>eightdevaNEP</key>
		<integer>30</integer>
		<key>fivedeva</key>
		<integer>-30</integer>
		<key>fivedevaNEP</key>
		<integer>20</integer>
		<key>fourdeva</key>
		<integer>1</integer>
		<key>ninedeva</key>
		<integer>25</integer>
		<key>onedeva</key>
		<integer>20</integer>
		<key>onedevaNEP</key>
		<integer>30</integer>
		<key>sevendeva</key>
		<integer>20</integer>
		<key>sixdeva</key>
		<integer>30</integer>
		<key>threedeva</key>
		<integer>20</integer>
	</dict>
	<key>zerodeva</key>
	<dict>
		<key>fourdeva</key>
		<integer>-60</integer>
		<key>ninedeva</key>
		<integer>-15</integer>
		<key>onedeva</key>
		<integer>20</integer>
		<key>onedevaNEP</key>
		<integer>-10</integer>
		<key>sevendeva</key>
		<integer>-20</integer>
		<key>threedeva</key>
		<integer>-40</integer>
		<key>twodeva</key>
		<integer>-35</integer>
		<key>zerodeva</key>
		<integer>-20</integer>
	</dict>
</dict>
</plist>
