<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>lnum1</key>
	<array>
		<string>zero</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
	</array>
	<key>onum1</key>
	<array>
	</array>
	<key>onum2</key>
	<array>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
	</array>
	<key>onum3</key>
	<array>
		<string>zero</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
	</array>
	<key>onum4</key>
	<array>
	</array>
	<key>ss011</key>
	<array>
	</array>
	<key>ss012</key>
	<array>
		<string>I.alt</string>
	</array>
</dict>
</plist>
