<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>abvs1</key>
	<array>
	</array>
	<key>abvs10</key>
	<array>
	</array>
	<key>abvs2</key>
	<array>
	</array>
	<key>abvs3</key>
	<array>
	</array>
	<key>abvs4</key>
	<array>
	</array>
	<key>abvs5</key>
	<array>
	</array>
	<key>abvs6</key>
	<array>
	</array>
	<key>abvs7</key>
	<array>
	</array>
	<key>abvs8</key>
	<array>
	</array>
	<key>abvs9</key>
	<array>
	</array>
	<key>blws1</key>
	<array>
	</array>
	<key>blws10</key>
	<array>
	</array>
	<key>blws2</key>
	<array>
	</array>
	<key>blws3</key>
	<array>
	</array>
	<key>blws4</key>
	<array>
	</array>
	<key>blws5</key>
	<array>
	</array>
	<key>blws6</key>
	<array>
	</array>
	<key>blws7</key>
	<array>
	</array>
	<key>blws8</key>
	<array>
	</array>
	<key>blws9</key>
	<array>
	</array>
	<key>class0</key>
	<array>
	</array>
	<key>class1</key>
	<array>
	</array>
	<key>class185</key>
	<array>
	</array>
	<key>class187</key>
	<array>
	</array>
	<key>class189</key>
	<array>
	</array>
	<key>class191</key>
	<array>
	</array>
	<key>class193</key>
	<array>
	</array>
	<key>class2</key>
	<array>
	</array>
	<key>class209</key>
	<array>
	</array>
	<key>class213</key>
	<array>
	</array>
	<key>class215</key>
	<array>
	</array>
	<key>class217</key>
	<array>
	</array>
	<key>class231</key>
	<array>
	</array>
	<key>class233</key>
	<array>
	</array>
	<key>class235</key>
	<array>
	</array>
	<key>class237</key>
	<array>
	</array>
	<key>class251</key>
	<array>
	</array>
	<key>class253</key>
	<array>
	</array>
	<key>class259</key>
	<array>
	</array>
	<key>class275</key>
	<array>
	</array>
	<key>class277</key>
	<array>
	</array>
	<key>class279</key>
	<array>
	</array>
	<key>class291</key>
	<array>
	</array>
	<key>class293</key>
	<array>
	</array>
	<key>class295</key>
	<array>
	</array>
	<key>class297</key>
	<array>
	</array>
	<key>class299</key>
	<array>
	</array>
	<key>class3</key>
	<array>
	</array>
	<key>class317</key>
	<array>
	</array>
	<key>class319</key>
	<array>
	</array>
	<key>class333</key>
	<array>
	</array>
	<key>class335</key>
	<array>
	</array>
	<key>class337</key>
	<array>
	</array>
	<key>class339</key>
	<array>
	</array>
	<key>class351</key>
	<array>
	</array>
	<key>class353</key>
	<array>
	</array>
	<key>class355</key>
	<array>
	</array>
	<key>class357</key>
	<array>
	</array>
	<key>class359</key>
	<array>
	</array>
	<key>class373</key>
	<array>
	</array>
	<key>class375</key>
	<array>
	</array>
	<key>class377</key>
	<array>
	</array>
	<key>class379</key>
	<array>
	</array>
	<key>class397</key>
	<array>
	</array>
	<key>class399</key>
	<array>
	</array>
	<key>class413</key>
	<array>
	</array>
	<key>class415</key>
	<array>
	</array>
	<key>class417</key>
	<array>
	</array>
	<key>class419</key>
	<array>
	</array>
	<key>class453</key>
	<array>
	</array>
	<key>class455</key>
	<array>
	</array>
	<key>class457</key>
	<array>
	</array>
	<key>class459</key>
	<array>
	</array>
	<key>class477</key>
	<array>
	</array>
	<key>class479</key>
	<array>
	</array>
	<key>class497</key>
	<array>
	</array>
	<key>class499</key>
	<array>
	</array>
	<key>class517</key>
	<array>
	</array>
	<key>class519</key>
	<array>
	</array>
	<key>class551</key>
	<array>
	</array>
	<key>class553</key>
	<array>
	</array>
	<key>class569</key>
	<array>
	</array>
	<key>class585</key>
	<array>
	</array>
	<key>class613</key>
	<array>
	</array>
	<key>class622</key>
	<array>
	</array>
	<key>class624</key>
	<array>
	</array>
	<key>class633</key>
	<array>
	</array>
	<key>class667</key>
	<array>
	</array>
	<key>class705</key>
	<array>
	</array>
	<key>class707</key>
	<array>
	</array>
	<key>class709</key>
	<array>
	</array>
	<key>class745</key>
	<array>
	</array>
	<key>class754</key>
	<array>
	</array>
	<key>class758</key>
	<array>
	</array>
	<key>class759</key>
	<array>
	</array>
	<key>class760</key>
	<array>
	</array>
	<key>class761</key>
	<array>
	</array>
	<key>class762</key>
	<array>
	</array>
	<key>class773</key>
	<array>
	</array>
	<key>class775</key>
	<array>
	</array>
	<key>class777</key>
	<array>
	</array>
	<key>class813</key>
	<array>
	</array>
	<key>class871</key>
	<array>
	</array>
</dict>
</plist>
