<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<string>A_.glif</string>
	<key>B</key>
	<string>B_.glif</string>
	<key>C</key>
	<string>C_.glif</string>
	<key>D</key>
	<string>D_.glif</string>
	<key>E</key>
	<string>E_.glif</string>
	<key>F</key>
	<string>F_.glif</string>
	<key>G</key>
	<string>G_.glif</string>
	<key>H</key>
	<string>H_.glif</string>
	<key>I</key>
	<string>I_.glif</string>
	<key>J</key>
	<string>J_.glif</string>
	<key>K</key>
	<string>K_.glif</string>
	<key>L</key>
	<string>L_.glif</string>
	<key>M</key>
	<string>M_.glif</string>
	<key>N</key>
	<string>N_.glif</string>
	<key>O</key>
	<string>O_.glif</string>
	<key>P</key>
	<string>P_.glif</string>
	<key>Q</key>
	<string>Q_.glif</string>
	<key>R</key>
	<string>R_.glif</string>
	<key>S</key>
	<string>S_.glif</string>
	<key>T</key>
	<string>T_.glif</string>
	<key>U</key>
	<string>U_.glif</string>
	<key>V</key>
	<string>V_.glif</string>
	<key>W</key>
	<string>W_.glif</string>
	<key>X</key>
	<string>X_.glif</string>
	<key>Y</key>
	<string>Y_.glif</string>
	<key>Z</key>
	<string>Z_.glif</string>
	<key>a</key>
	<string>a.glif</string>
	<key>ampersand</key>
	<string>ampersand.glif</string>
	<key>asciicircum.deva</key>
	<string>asciicircum.deva.glif</string>
	<key>asciitilde.deva</key>
	<string>asciitilde.deva.glif</string>
	<key>asterisk.deva</key>
	<string>asterisk.deva.glif</string>
	<key>at</key>
	<string>at.glif</string>
	<key>b</key>
	<string>b.glif</string>
	<key>backslash.deva</key>
	<string>backslash.deva.glif</string>
	<key>bar.deva</key>
	<string>bar.deva.glif</string>
	<key>braceleft.deva</key>
	<string>braceleft.deva.glif</string>
	<key>braceright.deva</key>
	<string>braceright.deva.glif</string>
	<key>bracketleft.deva</key>
	<string>bracketleft.deva.glif</string>
	<key>bracketright.deva</key>
	<string>bracketright.deva.glif</string>
	<key>c</key>
	<string>c.glif</string>
	<key>colon.deva</key>
	<string>colon.deva.glif</string>
	<key>comma.deva</key>
	<string>comma.deva.glif</string>
	<key>d</key>
	<string>d.glif</string>
	<key>divide.deva</key>
	<string>divide.deva.glif</string>
	<key>dollar</key>
	<string>dollar.glif</string>
	<key>e</key>
	<string>e.glif</string>
	<key>eight.deva</key>
	<string>eight.deva.glif</string>
	<key>ellipsis.deva</key>
	<string>ellipsis.deva.glif</string>
	<key>emdash.deva</key>
	<string>emdash.deva.glif</string>
	<key>endash.deva</key>
	<string>endash.deva.glif</string>
	<key>equal.deva</key>
	<string>equal.deva.glif</string>
	<key>exclam.deva</key>
	<string>exclam.deva.glif</string>
	<key>f</key>
	<string>f.glif</string>
	<key>five.deva</key>
	<string>five.deva.glif</string>
	<key>four.deva</key>
	<string>four.deva.glif</string>
	<key>g</key>
	<string>g.glif</string>
	<key>grave</key>
	<string>grave.glif</string>
	<key>greater.deva</key>
	<string>greater.deva.glif</string>
	<key>h</key>
	<string>h.glif</string>
	<key>hyphen.deva</key>
	<string>hyphen.deva.glif</string>
	<key>i</key>
	<string>i.glif</string>
	<key>j</key>
	<string>j.glif</string>
	<key>k</key>
	<string>k.glif</string>
	<key>l</key>
	<string>l.glif</string>
	<key>less.deva</key>
	<string>less.deva.glif</string>
	<key>m</key>
	<string>m.glif</string>
	<key>minus.deva</key>
	<string>minus.deva.glif</string>
	<key>multiply.deva</key>
	<string>multiply.deva.glif</string>
	<key>n</key>
	<string>n.glif</string>
	<key>nine.deva</key>
	<string>nine.deva.glif</string>
	<key>numbersign.deva</key>
	<string>numbersign.deva.glif</string>
	<key>o</key>
	<string>o.glif</string>
	<key>one.deva</key>
	<string>one.deva.glif</string>
	<key>p</key>
	<string>p.glif</string>
	<key>parenleft.deva</key>
	<string>parenleft.deva.glif</string>
	<key>parenright.deva</key>
	<string>parenright.deva.glif</string>
	<key>percent.deva</key>
	<string>percent.deva.glif</string>
	<key>period.deva</key>
	<string>period.deva.glif</string>
	<key>plus.deva</key>
	<string>plus.deva.glif</string>
	<key>q</key>
	<string>q.glif</string>
	<key>question.deva</key>
	<string>question.deva.glif</string>
	<key>quotedbl.deva</key>
	<string>quotedbl.deva.glif</string>
	<key>quotedblleft.deva</key>
	<string>quotedblleft.deva.glif</string>
	<key>quotedblright.deva</key>
	<string>quotedblright.deva.glif</string>
	<key>quoteleft.deva</key>
	<string>quoteleft.deva.glif</string>
	<key>quoteright.deva</key>
	<string>quoteright.deva.glif</string>
	<key>quotesingle.deva</key>
	<string>quotesingle.deva.glif</string>
	<key>r</key>
	<string>r.glif</string>
	<key>s</key>
	<string>s.glif</string>
	<key>semicolon.deva</key>
	<string>semicolon.deva.glif</string>
	<key>seven.deva</key>
	<string>seven.deva.glif</string>
	<key>sfthyphen.deva</key>
	<string>sfthyphen.deva.glif</string>
	<key>six.deva</key>
	<string>six.deva.glif</string>
	<key>slash.deva</key>
	<string>slash.deva.glif</string>
	<key>t</key>
	<string>t.glif</string>
	<key>three.deva</key>
	<string>three.deva.glif</string>
	<key>two.deva</key>
	<string>two.deva.glif</string>
	<key>u</key>
	<string>u.glif</string>
	<key>underscore.deva</key>
	<string>underscore.deva.glif</string>
	<key>uni200B</key>
	<string>uni200B_.glif</string>
	<key>uni20B9.deva</key>
	<string>uni20B_9.deva.glif</string>
	<key>v</key>
	<string>v.glif</string>
	<key>w</key>
	<string>w.glif</string>
	<key>x</key>
	<string>x.glif</string>
	<key>y</key>
	<string>y.glif</string>
	<key>z</key>
	<string>z.glif</string>
	<key>zero.deva</key>
	<string>zero.deva.glif</string>
</dict>
</plist>
