<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.notdef</key>
	<string>_notdef.glif</string>
	<key>A</key>
	<string>A_.glif</string>
	<key>B</key>
	<string>B_.glif</string>
	<key>C</key>
	<string>C_.glif</string>
	<key>D</key>
	<string>D_.glif</string>
	<key>E</key>
	<string>E_.glif</string>
	<key>F</key>
	<string>F_.glif</string>
	<key>G</key>
	<string>G_.glif</string>
	<key>H</key>
	<string>H_.glif</string>
	<key>I</key>
	<string>I_.glif</string>
	<key>J</key>
	<string>J_.glif</string>
	<key>K</key>
	<string>K_.glif</string>
	<key>L</key>
	<string>L_.glif</string>
	<key>M</key>
	<string>M_.glif</string>
	<key>N</key>
	<string>N_.glif</string>
	<key>NULL</key>
	<string>N_U_L_L_.glif</string>
	<key>O</key>
	<string>O_.glif</string>
	<key>P</key>
	<string>P_.glif</string>
	<key>Q</key>
	<string>Q_.glif</string>
	<key>R</key>
	<string>R_.glif</string>
	<key>S</key>
	<string>S_.glif</string>
	<key>T</key>
	<string>T_.glif</string>
	<key>U</key>
	<string>U_.glif</string>
	<key>V</key>
	<string>V_.glif</string>
	<key>W</key>
	<string>W_.glif</string>
	<key>X</key>
	<string>X_.glif</string>
	<key>Y</key>
	<string>Y_.glif</string>
	<key>Z</key>
	<string>Z_.glif</string>
	<key>a</key>
	<string>a.glif</string>
	<key>aadeva</key>
	<string>aadeva.glif</string>
	<key>aanuktadeva</key>
	<string>aanuktadeva.glif</string>
	<key>aavowelsigndeva</key>
	<string>aavowelsigndeva.glif</string>
	<key>abbreviationsigndeva</key>
	<string>abbreviationsigndeva.glif</string>
	<key>acandraanusvaradeva</key>
	<string>acandraanusvaradeva.glif</string>
	<key>acandradeva</key>
	<string>acandradeva.glif</string>
	<key>acandranuktaanusvaradeva</key>
	<string>acandranuktaanusvaradeva.glif</string>
	<key>acandranuktadeva</key>
	<string>acandranuktadeva.glif</string>
	<key>adeva</key>
	<string>adeva.glif</string>
	<key>aianusvaradeva</key>
	<string>aianusvaradeva.glif</string>
	<key>aideva</key>
	<string>aideva.glif</string>
	<key>ainuktaanusvaradeva</key>
	<string>ainuktaanusvaradeva.glif</string>
	<key>ainuktadeva</key>
	<string>ainuktadeva.glif</string>
	<key>aivowelsignanusvaradeva</key>
	<string>aivowelsignanusvaradeva.glif</string>
	<key>aivowelsigncandrabindudeva</key>
	<string>aivowelsigncandrabindudeva.glif</string>
	<key>aivowelsigndeva</key>
	<string>aivowelsigndeva.glif</string>
	<key>aivowelsignrephanusvaradeva</key>
	<string>aivowelsignrephanusvaradeva.glif</string>
	<key>aivowelsignrephdeva</key>
	<string>aivowelsignrephdeva.glif</string>
	<key>ampersand</key>
	<string>ampersand.glif</string>
	<key>anudattadeva</key>
	<string>anudattadeva.glif</string>
	<key>anuktadeva</key>
	<string>anuktadeva.glif</string>
	<key>anusvaradeva</key>
	<string>anusvaradeva.glif</string>
	<key>asciicircum.deva</key>
	<string>asciicircum.deva.glif</string>
	<key>asciitilde.deva</key>
	<string>asciitilde.deva.glif</string>
	<key>ashortanusvaradeva</key>
	<string>ashortanusvaradeva.glif</string>
	<key>ashortdeva</key>
	<string>ashortdeva.glif</string>
	<key>ashortnuktaanusvaradeva</key>
	<string>ashortnuktaanusvaradeva.glif</string>
	<key>ashortnuktadeva</key>
	<string>ashortnuktadeva.glif</string>
	<key>asterisk.deva</key>
	<string>asterisk.deva.glif</string>
	<key>at</key>
	<string>at.glif</string>
	<key>auanusvaradeva</key>
	<string>auanusvaradeva.glif</string>
	<key>audeva</key>
	<string>audeva.glif</string>
	<key>aunuktaanusvaradeva</key>
	<string>aunuktaanusvaradeva.glif</string>
	<key>aunuktadeva</key>
	<string>aunuktadeva.glif</string>
	<key>auvowelsignanusvaradeva</key>
	<string>auvowelsignanusvaradeva.glif</string>
	<key>auvowelsigncandrabindudeva</key>
	<string>auvowelsigncandrabindudeva.glif</string>
	<key>auvowelsigndeva</key>
	<string>auvowelsigndeva.glif</string>
	<key>auvowelsignrephanusvaradeva</key>
	<string>auvowelsignrephanusvaradeva.glif</string>
	<key>auvowelsignrephdeva</key>
	<string>auvowelsignrephdeva.glif</string>
	<key>avagrahadeva</key>
	<string>avagrahadeva.glif</string>
	<key>b</key>
	<string>b.glif</string>
	<key>babardeva</key>
	<string>babardeva.glif</string>
	<key>backslash.deva</key>
	<string>backslash.deva.glif</string>
	<key>badeva</key>
	<string>badeva.glif</string>
	<key>banuktadeva</key>
	<string>banuktadeva.glif</string>
	<key>banuktaprehalfdeva</key>
	<string>banuktaprehalfdeva.glif</string>
	<key>banuktaradeva</key>
	<string>banuktaradeva.glif</string>
	<key>banuktaraprehalfdeva</key>
	<string>banuktaraprehalfdeva.glif</string>
	<key>baprehalfdeva</key>
	<string>baprehalfdeva.glif</string>
	<key>bar.deva</key>
	<string>bar.deva.glif</string>
	<key>baradeva</key>
	<string>baradeva.glif</string>
	<key>baraprehalfdeva</key>
	<string>baraprehalfdeva.glif</string>
	<key>bhadeva</key>
	<string>bhadeva.glif</string>
	<key>bhanuktadeva</key>
	<string>bhanuktadeva.glif</string>
	<key>bhanuktaprehalfdeva</key>
	<string>bhanuktaprehalfdeva.glif</string>
	<key>bhanuktaradeva</key>
	<string>bhanuktaradeva.glif</string>
	<key>bhanuktaraprehalfdeva</key>
	<string>bhanuktaraprehalfdeva.glif</string>
	<key>bhaprehalfdeva</key>
	<string>bhaprehalfdeva.glif</string>
	<key>bharadeva</key>
	<string>bharadeva.glif</string>
	<key>bharaprehalfdeva</key>
	<string>bharaprehalfdeva.glif</string>
	<key>braceleft.deva</key>
	<string>braceleft.deva.glif</string>
	<key>braceright.deva</key>
	<string>braceright.deva.glif</string>
	<key>bracketleft.deva</key>
	<string>bracketleft.deva.glif</string>
	<key>bracketright.deva</key>
	<string>bracketright.deva.glif</string>
	<key>c</key>
	<string>c.glif</string>
	<key>cadeva</key>
	<string>cadeva.glif</string>
	<key>candrabindudeva</key>
	<string>candrabindudeva.glif</string>
	<key>candrabindusmalldeva</key>
	<string>candrabindusmalldeva.glif</string>
	<key>canuktadeva</key>
	<string>canuktadeva.glif</string>
	<key>canuktaprehalfdeva</key>
	<string>canuktaprehalfdeva.glif</string>
	<key>canuktaradeva</key>
	<string>canuktaradeva.glif</string>
	<key>canuktaraprehalfdeva</key>
	<string>canuktaraprehalfdeva.glif</string>
	<key>caprehalfdeva</key>
	<string>caprehalfdeva.glif</string>
	<key>caradeva</key>
	<string>caradeva.glif</string>
	<key>caraprehalfdeva</key>
	<string>caraprehalfdeva.glif</string>
	<key>chaaltdeva</key>
	<string>chaaltdeva.glif</string>
	<key>chadeva</key>
	<string>chadeva.glif</string>
	<key>chanuktaaltdeva</key>
	<string>chanuktaaltdeva.glif</string>
	<key>chanuktadeva</key>
	<string>chanuktadeva.glif</string>
	<key>chanuktaprehalfdeva</key>
	<string>chanuktaprehalfdeva.glif</string>
	<key>chanuktaradeva</key>
	<string>chanuktaradeva.glif</string>
	<key>chanuktaraprehalfdeva</key>
	<string>chanuktaraprehalfdeva.glif</string>
	<key>chaprehalfdeva</key>
	<string>chaprehalfdeva.glif</string>
	<key>charadeva</key>
	<string>charadeva.glif</string>
	<key>charaprehalfdeva</key>
	<string>charaprehalfdeva.glif</string>
	<key>chayadeva</key>
	<string>chayadeva.glif</string>
	<key>colon.deva</key>
	<string>colon.deva.glif</string>
	<key>comma.deva</key>
	<string>comma.deva.glif</string>
	<key>d</key>
	<string>d.glif</string>
	<key>dabadeva</key>
	<string>dabadeva.glif</string>
	<key>dabhaaltdeva</key>
	<string>dabhaaltdeva.glif</string>
	<key>dabhadeva</key>
	<string>dabhadeva.glif</string>
	<key>dadaaltdeva</key>
	<string>dadaaltdeva.glif</string>
	<key>dadadeva</key>
	<string>dadadeva.glif</string>
	<key>dadeva</key>
	<string>dadeva.glif</string>
	<key>dadhadeva</key>
	<string>dadhadeva.glif</string>
	<key>dadhayadeva</key>
	<string>dadhayadeva.glif</string>
	<key>dagadeva</key>
	<string>dagadeva.glif</string>
	<key>daghadeva</key>
	<string>daghadeva.glif</string>
	<key>damadeva</key>
	<string>damadeva.glif</string>
	<key>dandadeva</key>
	<string>dandadeva.glif</string>
	<key>danuktadeva</key>
	<string>danuktadeva.glif</string>
	<key>danuktaprehalfdeva</key>
	<string>danuktaprehalfdeva.glif</string>
	<key>danuktaradeva</key>
	<string>danuktaradeva.glif</string>
	<key>danuktaraprehalfdeva</key>
	<string>danuktaraprehalfdeva.glif</string>
	<key>danuktarvocalicdeva</key>
	<string>danuktarvocalicdeva.glif</string>
	<key>danuktaudeva</key>
	<string>danuktaudeva.glif</string>
	<key>danuktauudeva</key>
	<string>danuktauudeva.glif</string>
	<key>daprehalfdeva</key>
	<string>daprehalfdeva.glif</string>
	<key>daradeva</key>
	<string>daradeva.glif</string>
	<key>daraprehalfdeva</key>
	<string>daraprehalfdeva.glif</string>
	<key>darvocalicdeva</key>
	<string>darvocalicdeva.glif</string>
	<key>daudeva</key>
	<string>daudeva.glif</string>
	<key>dauudeva</key>
	<string>dauudeva.glif</string>
	<key>davadeva</key>
	<string>davadeva.glif</string>
	<key>dayadeva</key>
	<string>dayadeva.glif</string>
	<key>dayaprehalfdeva</key>
	<string>dayaprehalfdeva.glif</string>
	<key>dbldandadeva</key>
	<string>dbldandadeva.glif</string>
	<key>ddaaltdeva</key>
	<string>ddaaltdeva.glif</string>
	<key>ddabardeva</key>
	<string>ddabardeva.glif</string>
	<key>ddaddadeva</key>
	<string>ddaddadeva.glif</string>
	<key>ddaddauudeva</key>
	<string>ddaddauudeva.glif</string>
	<key>ddaddhadeva</key>
	<string>ddaddhadeva.glif</string>
	<key>ddadeva</key>
	<string>ddadeva.glif</string>
	<key>ddanuktaprehalfdeva</key>
	<string>ddanuktaprehalfdeva.glif</string>
	<key>ddanuktaradeva</key>
	<string>ddanuktaradeva.glif</string>
	<key>ddanuktaraprehalfUIdeva</key>
	<string>ddanuktaraprehalfU_I_deva.glif</string>
	<key>ddanuktaraprehalfdeva</key>
	<string>ddanuktaraprehalfdeva.glif</string>
	<key>ddaprehalfdeva</key>
	<string>ddaprehalfdeva.glif</string>
	<key>ddaradeva</key>
	<string>ddaradeva.glif</string>
	<key>ddaraprehalfUIdeva</key>
	<string>ddaraprehalfU_I_deva.glif</string>
	<key>ddaraprehalfdeva</key>
	<string>ddaraprehalfdeva.glif</string>
	<key>ddayadeva</key>
	<string>ddayadeva.glif</string>
	<key>dddhaaltdeva</key>
	<string>dddhaaltdeva.glif</string>
	<key>dddhadeva</key>
	<string>dddhadeva.glif</string>
	<key>ddhaaltdeva</key>
	<string>ddhaaltdeva.glif</string>
	<key>ddhaddhadeva</key>
	<string>ddhaddhadeva.glif</string>
	<key>ddhadeva</key>
	<string>ddhadeva.glif</string>
	<key>ddhanuktaprehalfdeva</key>
	<string>ddhanuktaprehalfdeva.glif</string>
	<key>ddhanuktaradeva</key>
	<string>ddhanuktaradeva.glif</string>
	<key>ddhanuktaraprehalfUIdeva</key>
	<string>ddhanuktaraprehalfU_I_deva.glif</string>
	<key>ddhanuktaraprehalfdeva</key>
	<string>ddhanuktaraprehalfdeva.glif</string>
	<key>ddhaprehalfdeva</key>
	<string>ddhaprehalfdeva.glif</string>
	<key>ddharadeva</key>
	<string>ddharadeva.glif</string>
	<key>ddharaprehalfUIdeva</key>
	<string>ddharaprehalfU_I_deva.glif</string>
	<key>ddharaprehalfdeva</key>
	<string>ddharaprehalfdeva.glif</string>
	<key>ddhayadeva</key>
	<string>ddhayadeva.glif</string>
	<key>dhadeva</key>
	<string>dhadeva.glif</string>
	<key>dhanuktadeva</key>
	<string>dhanuktadeva.glif</string>
	<key>dhanuktaprehalfdeva</key>
	<string>dhanuktaprehalfdeva.glif</string>
	<key>dhanuktaradeva</key>
	<string>dhanuktaradeva.glif</string>
	<key>dhanuktaraprehalfdeva</key>
	<string>dhanuktaraprehalfdeva.glif</string>
	<key>dhaprehalfdeva</key>
	<string>dhaprehalfdeva.glif</string>
	<key>dharadeva</key>
	<string>dharadeva.glif</string>
	<key>dharaprehalfdeva</key>
	<string>dharaprehalfdeva.glif</string>
	<key>divide.deva</key>
	<string>divide.deva.glif</string>
	<key>dollar</key>
	<string>dollar.glif</string>
	<key>dummymarkdeva</key>
	<string>dummymarkdeva.glif</string>
	<key>e</key>
	<string>e.glif</string>
	<key>ecandraanusvaradeva</key>
	<string>ecandraanusvaradeva.glif</string>
	<key>ecandradeva</key>
	<string>ecandradeva.glif</string>
	<key>ecandranuktaanusvaradeva</key>
	<string>ecandranuktaanusvaradeva.glif</string>
	<key>ecandranuktadeva</key>
	<string>ecandranuktadeva.glif</string>
	<key>ecandravowelsignanusvaradeva</key>
	<string>ecandravowelsignanusvaradeva.glif</string>
	<key>ecandravowelsigncandrabindudeva</key>
	<string>ecandravowelsigncandrabindudeva.glif</string>
	<key>ecandravowelsigndeva</key>
	<string>ecandravowelsigndeva.glif</string>
	<key>ecandravowelsignrephanusvaradeva</key>
	<string>ecandravowelsignrephanusvaradeva.glif</string>
	<key>ecandravowelsignrephanusvardeva</key>
	<string>ecandravowelsignrephanusvardeva.glif</string>
	<key>ecandravowelsignrephdeva</key>
	<string>ecandravowelsignrephdeva.glif</string>
	<key>edeva</key>
	<string>edeva.glif</string>
	<key>eight.deva</key>
	<string>eight.deva.glif</string>
	<key>eightdeva</key>
	<string>eightdeva.glif</string>
	<key>ellipsis.deva</key>
	<string>ellipsis.deva.glif</string>
	<key>emdash.deva</key>
	<string>emdash.deva.glif</string>
	<key>endash.deva</key>
	<string>endash.deva.glif</string>
	<key>enuktadeva</key>
	<string>enuktadeva.glif</string>
	<key>equal.deva</key>
	<string>equal.deva.glif</string>
	<key>eshortanusvaradeva</key>
	<string>eshortanusvaradeva.glif</string>
	<key>eshortdeva</key>
	<string>eshortdeva.glif</string>
	<key>eshortnuktaanusvaradeva</key>
	<string>eshortnuktaanusvaradeva.glif</string>
	<key>eshortnuktadeva</key>
	<string>eshortnuktadeva.glif</string>
	<key>eshortvowelsignanusvaradeva</key>
	<string>eshortvowelsignanusvaradeva.glif</string>
	<key>eshortvowelsigncandrabindudeva</key>
	<string>eshortvowelsigncandrabindudeva.glif</string>
	<key>eshortvowelsigndeva</key>
	<string>eshortvowelsigndeva.glif</string>
	<key>eshortvowelsignrephanusvarade</key>
	<string>eshortvowelsignrephanusvarade.glif</string>
	<key>eshortvowelsignrephdeva</key>
	<string>eshortvowelsignrephdeva.glif</string>
	<key>evowelsignanusvaradeva</key>
	<string>evowelsignanusvaradeva.glif</string>
	<key>evowelsigncandrabindudeva</key>
	<string>evowelsigncandrabindudeva.glif</string>
	<key>evowelsigndeva</key>
	<string>evowelsigndeva.glif</string>
	<key>evowelsignrephanusvaradeva</key>
	<string>evowelsignrephanusvaradeva.glif</string>
	<key>evowelsignrephdeva</key>
	<string>evowelsignrephdeva.glif</string>
	<key>exclam.deva</key>
	<string>exclam.deva.glif</string>
	<key>f</key>
	<string>f.glif</string>
	<key>fadeva</key>
	<string>fadeva.glif</string>
	<key>five.deva</key>
	<string>five.deva.glif</string>
	<key>fivedeva</key>
	<string>fivedeva.glif</string>
	<key>four.deva</key>
	<string>four.deva.glif</string>
	<key>fourdeva</key>
	<string>fourdeva.glif</string>
	<key>g</key>
	<string>g.glif</string>
	<key>gabardeva</key>
	<string>gabardeva.glif</string>
	<key>gadeva</key>
	<string>gadeva.glif</string>
	<key>ganuktaprehalfdeva</key>
	<string>ganuktaprehalfdeva.glif</string>
	<key>ganuktaradeva</key>
	<string>ganuktaradeva.glif</string>
	<key>ganuktaraprehalfdeva</key>
	<string>ganuktaraprehalfdeva.glif</string>
	<key>gaprehalfdeva</key>
	<string>gaprehalfdeva.glif</string>
	<key>garadeva</key>
	<string>garadeva.glif</string>
	<key>garaprehalfdeva</key>
	<string>garaprehalfdeva.glif</string>
	<key>ghadeva</key>
	<string>ghadeva.glif</string>
	<key>ghanuktadeva</key>
	<string>ghanuktadeva.glif</string>
	<key>ghanuktaprehalfdeva</key>
	<string>ghanuktaprehalfdeva.glif</string>
	<key>ghanuktaradeva</key>
	<string>ghanuktaradeva.glif</string>
	<key>ghanuktaraprehalfdeva</key>
	<string>ghanuktaraprehalfdeva.glif</string>
	<key>ghaprehalfdeva</key>
	<string>ghaprehalfdeva.glif</string>
	<key>gharadeva</key>
	<string>gharadeva.glif</string>
	<key>gharaprehalfdeva</key>
	<string>gharaprehalfdeva.glif</string>
	<key>ghhadeva</key>
	<string>ghhadeva.glif</string>
	<key>grave</key>
	<string>grave.glif</string>
	<key>greater.deva</key>
	<string>greater.deva.glif</string>
	<key>h</key>
	<string>h.glif</string>
	<key>hadeva</key>
	<string>hadeva.glif</string>
	<key>haladeva</key>
	<string>haladeva.glif</string>
	<key>hamadeva</key>
	<string>hamadeva.glif</string>
	<key>hanadeva</key>
	<string>hanadeva.glif</string>
	<key>hannadeva</key>
	<string>hannadeva.glif</string>
	<key>hanuktadeva</key>
	<string>hanuktadeva.glif</string>
	<key>hanuktaprehalfdeva</key>
	<string>hanuktaprehalfdeva.glif</string>
	<key>hanuktaradeva</key>
	<string>hanuktaradeva.glif</string>
	<key>hanuktaraprehalfdeva</key>
	<string>hanuktaraprehalfdeva.glif</string>
	<key>hanuktarrvocalicdeva</key>
	<string>hanuktarrvocalicdeva.glif</string>
	<key>hanuktarvocalicdeva</key>
	<string>hanuktarvocalicdeva.glif</string>
	<key>hanuktaudeva</key>
	<string>hanuktaudeva.glif</string>
	<key>hanuktauudeva</key>
	<string>hanuktauudeva.glif</string>
	<key>haprehalfdeva</key>
	<string>haprehalfdeva.glif</string>
	<key>haradeva</key>
	<string>haradeva.glif</string>
	<key>haraprehalfdeva</key>
	<string>haraprehalfdeva.glif</string>
	<key>harauUIdeva</key>
	<string>harauU_I_deva.glif</string>
	<key>haraudeva</key>
	<string>haraudeva.glif</string>
	<key>harauuUIdeva</key>
	<string>harauuU_I_deva.glif</string>
	<key>harauudeva</key>
	<string>harauudeva.glif</string>
	<key>harrvocalicdeva</key>
	<string>harrvocalicdeva.glif</string>
	<key>harvocalicdeva</key>
	<string>harvocalicdeva.glif</string>
	<key>hauUIdeva</key>
	<string>hauU_I_deva.glif</string>
	<key>haudeva</key>
	<string>haudeva.glif</string>
	<key>hauuUIdeva</key>
	<string>hauuU_I_deva.glif</string>
	<key>hauudeva</key>
	<string>hauudeva.glif</string>
	<key>havadeva</key>
	<string>havadeva.glif</string>
	<key>hayadeva</key>
	<string>hayadeva.glif</string>
	<key>hyphen.deva</key>
	<string>hyphen.deva.glif</string>
	<key>i</key>
	<string>i.glif</string>
	<key>ideva</key>
	<string>ideva.glif</string>
	<key>iianusvaradeva</key>
	<string>iianusvaradeva.glif</string>
	<key>iideva</key>
	<string>iideva.glif</string>
	<key>iinuktaanusvaradeva</key>
	<string>iinuktaanusvaradeva.glif</string>
	<key>iinuktadeva</key>
	<string>iinuktadeva.glif</string>
	<key>iivowelcandrabindu1deva</key>
	<string>iivowelcandrabindu1deva.glif</string>
	<key>iivowelcandrabindu2deva</key>
	<string>iivowelcandrabindu2deva.glif</string>
	<key>iivowelcandrabindu3deva</key>
	<string>iivowelcandrabindu3deva.glif</string>
	<key>iivowelcandrabindudeva</key>
	<string>iivowelcandrabindudeva.glif</string>
	<key>iivowelsign1deva</key>
	<string>iivowelsign1deva.glif</string>
	<key>iivowelsign2deva</key>
	<string>iivowelsign2deva.glif</string>
	<key>iivowelsign3deva</key>
	<string>iivowelsign3deva.glif</string>
	<key>iivowelsignanusvara1deva</key>
	<string>iivowelsignanusvara1deva.glif</string>
	<key>iivowelsignanusvara2deva</key>
	<string>iivowelsignanusvara2deva.glif</string>
	<key>iivowelsignanusvara3deva</key>
	<string>iivowelsignanusvara3deva.glif</string>
	<key>iivowelsignanusvaradeva</key>
	<string>iivowelsignanusvaradeva.glif</string>
	<key>iivowelsigndeva</key>
	<string>iivowelsigndeva.glif</string>
	<key>iivowelsignreph1deva</key>
	<string>iivowelsignreph1deva.glif</string>
	<key>iivowelsignreph2deva</key>
	<string>iivowelsignreph2deva.glif</string>
	<key>iivowelsignreph3deva</key>
	<string>iivowelsignreph3deva.glif</string>
	<key>iivowelsignrephanusvara1deva</key>
	<string>iivowelsignrephanusvara1deva.glif</string>
	<key>iivowelsignrephanusvara2deva</key>
	<string>iivowelsignrephanusvara2deva.glif</string>
	<key>iivowelsignrephanusvara3deva</key>
	<string>iivowelsignrephanusvara3deva.glif</string>
	<key>iivowelsignrephanusvaradeva</key>
	<string>iivowelsignrephanusvaradeva.glif</string>
	<key>iivowelsignrephdeva</key>
	<string>iivowelsignrephdeva.glif</string>
	<key>inuktadeva</key>
	<string>inuktadeva.glif</string>
	<key>ivowelsign00deva</key>
	<string>ivowelsign00deva.glif</string>
	<key>ivowelsign01deva</key>
	<string>ivowelsign01deva.glif</string>
	<key>ivowelsign02deva</key>
	<string>ivowelsign02deva.glif</string>
	<key>ivowelsign03deva</key>
	<string>ivowelsign03deva.glif</string>
	<key>ivowelsign04deva</key>
	<string>ivowelsign04deva.glif</string>
	<key>ivowelsign05deva</key>
	<string>ivowelsign05deva.glif</string>
	<key>ivowelsign06deva</key>
	<string>ivowelsign06deva.glif</string>
	<key>ivowelsign07deva</key>
	<string>ivowelsign07deva.glif</string>
	<key>ivowelsign08deva</key>
	<string>ivowelsign08deva.glif</string>
	<key>ivowelsign09deva</key>
	<string>ivowelsign09deva.glif</string>
	<key>ivowelsign10deva</key>
	<string>ivowelsign10deva.glif</string>
	<key>ivowelsign11deva</key>
	<string>ivowelsign11deva.glif</string>
	<key>ivowelsignanusvara01deva</key>
	<string>ivowelsignanusvara01deva.glif</string>
	<key>ivowelsignanusvara02deva</key>
	<string>ivowelsignanusvara02deva.glif</string>
	<key>ivowelsignanusvara03deva</key>
	<string>ivowelsignanusvara03deva.glif</string>
	<key>ivowelsignanusvara04deva</key>
	<string>ivowelsignanusvara04deva.glif</string>
	<key>ivowelsignanusvara05deva</key>
	<string>ivowelsignanusvara05deva.glif</string>
	<key>ivowelsignanusvara06deva</key>
	<string>ivowelsignanusvara06deva.glif</string>
	<key>ivowelsignanusvara07deva</key>
	<string>ivowelsignanusvara07deva.glif</string>
	<key>ivowelsignanusvara08deva</key>
	<string>ivowelsignanusvara08deva.glif</string>
	<key>ivowelsignanusvara09deva</key>
	<string>ivowelsignanusvara09deva.glif</string>
	<key>ivowelsignanusvara10deva</key>
	<string>ivowelsignanusvara10deva.glif</string>
	<key>ivowelsignanusvara11deva</key>
	<string>ivowelsignanusvara11deva.glif</string>
	<key>ivowelsignanusvaradeva</key>
	<string>ivowelsignanusvaradeva.glif</string>
	<key>ivowelsigndeva</key>
	<string>ivowelsigndeva.glif</string>
	<key>ivowelsignreph01deva</key>
	<string>ivowelsignreph01deva.glif</string>
	<key>ivowelsignreph02deva</key>
	<string>ivowelsignreph02deva.glif</string>
	<key>ivowelsignreph03deva</key>
	<string>ivowelsignreph03deva.glif</string>
	<key>ivowelsignreph04deva</key>
	<string>ivowelsignreph04deva.glif</string>
	<key>ivowelsignreph05deva</key>
	<string>ivowelsignreph05deva.glif</string>
	<key>ivowelsignreph06deva</key>
	<string>ivowelsignreph06deva.glif</string>
	<key>ivowelsignreph07deva</key>
	<string>ivowelsignreph07deva.glif</string>
	<key>ivowelsignreph08deva</key>
	<string>ivowelsignreph08deva.glif</string>
	<key>ivowelsignreph09deva</key>
	<string>ivowelsignreph09deva.glif</string>
	<key>ivowelsignreph10deva</key>
	<string>ivowelsignreph10deva.glif</string>
	<key>ivowelsignreph11deva</key>
	<string>ivowelsignreph11deva.glif</string>
	<key>ivowelsignrephanusvara01deva</key>
	<string>ivowelsignrephanusvara01deva.glif</string>
	<key>ivowelsignrephanusvara02deva</key>
	<string>ivowelsignrephanusvara02deva.glif</string>
	<key>ivowelsignrephanusvara03deva</key>
	<string>ivowelsignrephanusvara03deva.glif</string>
	<key>ivowelsignrephanusvara04deva</key>
	<string>ivowelsignrephanusvara04deva.glif</string>
	<key>ivowelsignrephanusvara05deva</key>
	<string>ivowelsignrephanusvara05deva.glif</string>
	<key>ivowelsignrephanusvara06deva</key>
	<string>ivowelsignrephanusvara06deva.glif</string>
	<key>ivowelsignrephanusvara07deva</key>
	<string>ivowelsignrephanusvara07deva.glif</string>
	<key>ivowelsignrephanusvara08deva</key>
	<string>ivowelsignrephanusvara08deva.glif</string>
	<key>ivowelsignrephanusvara09deva</key>
	<string>ivowelsignrephanusvara09deva.glif</string>
	<key>ivowelsignrephanusvara10deva</key>
	<string>ivowelsignrephanusvara10deva.glif</string>
	<key>ivowelsignrephanusvara11deva</key>
	<string>ivowelsignrephanusvara11deva.glif</string>
	<key>ivowelsignrephanusvaradeva</key>
	<string>ivowelsignrephanusvaradeva.glif</string>
	<key>ivowelsignrephdeva</key>
	<string>ivowelsignrephdeva.glif</string>
	<key>j</key>
	<string>j.glif</string>
	<key>jabardeva</key>
	<string>jabardeva.glif</string>
	<key>jadeva</key>
	<string>jadeva.glif</string>
	<key>januktaprehalfdeva</key>
	<string>januktaprehalfdeva.glif</string>
	<key>januktaradeva</key>
	<string>januktaradeva.glif</string>
	<key>januktaraprehalfdeva</key>
	<string>januktaraprehalfdeva.glif</string>
	<key>janyadeva</key>
	<string>janyadeva.glif</string>
	<key>janyaprehalfdeva</key>
	<string>janyaprehalfdeva.glif</string>
	<key>janyaradeva</key>
	<string>janyaradeva.glif</string>
	<key>janyaraprehalfdeva</key>
	<string>janyaraprehalfdeva.glif</string>
	<key>japrehalfdeva</key>
	<string>japrehalfdeva.glif</string>
	<key>jaradeva</key>
	<string>jaradeva.glif</string>
	<key>jaraprehalfdeva</key>
	<string>jaraprehalfdeva.glif</string>
	<key>jhadeva</key>
	<string>jhadeva.glif</string>
	<key>jhanuktadeva</key>
	<string>jhanuktadeva.glif</string>
	<key>jhanuktaprehalfdeva</key>
	<string>jhanuktaprehalfdeva.glif</string>
	<key>jhanuktaradeva</key>
	<string>jhanuktaradeva.glif</string>
	<key>jhanuktaraprehalfdeva</key>
	<string>jhanuktaraprehalfdeva.glif</string>
	<key>jhaprehalfdeva</key>
	<string>jhaprehalfdeva.glif</string>
	<key>jharadeva</key>
	<string>jharadeva.glif</string>
	<key>jharaprehalfdeva</key>
	<string>jharaprehalfdeva.glif</string>
	<key>k</key>
	<string>k.glif</string>
	<key>kadeva</key>
	<string>kadeva.glif</string>
	<key>kanuktaprehalfdeva</key>
	<string>kanuktaprehalfdeva.glif</string>
	<key>kanuktaradeva</key>
	<string>kanuktaradeva.glif</string>
	<key>kanuktaraprehalfdeva</key>
	<string>kanuktaraprehalfdeva.glif</string>
	<key>kaprehalfdeva</key>
	<string>kaprehalfdeva.glif</string>
	<key>karadeva</key>
	<string>karadeva.glif</string>
	<key>karaprehalfdeva</key>
	<string>karaprehalfdeva.glif</string>
	<key>kassadeva</key>
	<string>kassadeva.glif</string>
	<key>kassaprehalfdeva</key>
	<string>kassaprehalfdeva.glif</string>
	<key>kassaradeva</key>
	<string>kassaradeva.glif</string>
	<key>kassaraprehalfdeva</key>
	<string>kassaraprehalfdeva.glif</string>
	<key>katadeva</key>
	<string>katadeva.glif</string>
	<key>khadeva</key>
	<string>khadeva.glif</string>
	<key>khanuktaprehalfdeva</key>
	<string>khanuktaprehalfdeva.glif</string>
	<key>khanuktaradeva</key>
	<string>khanuktaradeva.glif</string>
	<key>khanuktaraprehalfdeva</key>
	<string>khanuktaraprehalfdeva.glif</string>
	<key>khaprehalfdeva</key>
	<string>khaprehalfdeva.glif</string>
	<key>kharadeva</key>
	<string>kharadeva.glif</string>
	<key>kharaprehalfdeva</key>
	<string>kharaprehalfdeva.glif</string>
	<key>khhadeva</key>
	<string>khhadeva.glif</string>
	<key>l</key>
	<string>l.glif</string>
	<key>laaltdevaMAR</key>
	<string>laaltdevaM_A_R_.glif</string>
	<key>ladeva</key>
	<string>ladeva.glif</string>
	<key>ladevaMAR</key>
	<string>ladevaM_A_R_.glif</string>
	<key>lanuktaaltdevaMAR</key>
	<string>lanuktaaltdevaM_A_R_.glif</string>
	<key>lanuktadeva</key>
	<string>lanuktadeva.glif</string>
	<key>lanuktadevaMAR</key>
	<string>lanuktadevaM_A_R_.glif</string>
	<key>lanuktaprehalfdeva</key>
	<string>lanuktaprehalfdeva.glif</string>
	<key>lanuktaradeva</key>
	<string>lanuktaradeva.glif</string>
	<key>lanuktaradevaMAR</key>
	<string>lanuktaradevaM_A_R_.glif</string>
	<key>lanuktaraprehalfdeva</key>
	<string>lanuktaraprehalfdeva.glif</string>
	<key>laprehalfdeva</key>
	<string>laprehalfdeva.glif</string>
	<key>laradeva</key>
	<string>laradeva.glif</string>
	<key>laradevaMAR</key>
	<string>laradevaM_A_R_.glif</string>
	<key>laraprehalfdeva</key>
	<string>laraprehalfdeva.glif</string>
	<key>less.deva</key>
	<string>less.deva.glif</string>
	<key>llaaltdeva</key>
	<string>llaaltdeva.glif</string>
	<key>lladeva</key>
	<string>lladeva.glif</string>
	<key>llanuktaprehalfdeva</key>
	<string>llanuktaprehalfdeva.glif</string>
	<key>llanuktaradeva</key>
	<string>llanuktaradeva.glif</string>
	<key>llanuktaraprehalfdeva</key>
	<string>llanuktaraprehalfdeva.glif</string>
	<key>llaprehalfdeva</key>
	<string>llaprehalfdeva.glif</string>
	<key>llaradeva</key>
	<string>llaradeva.glif</string>
	<key>llaraprehalfdeva</key>
	<string>llaraprehalfdeva.glif</string>
	<key>lllaaltdeva</key>
	<string>lllaaltdeva.glif</string>
	<key>llladeva</key>
	<string>llladeva.glif</string>
	<key>llvocalicdeva</key>
	<string>llvocalicdeva.glif</string>
	<key>llvocalicnuktadeva</key>
	<string>llvocalicnuktadeva.glif</string>
	<key>llvocalicvowelsigndeva</key>
	<string>llvocalicvowelsigndeva.glif</string>
	<key>llvocalicvowelsignleftdeva</key>
	<string>llvocalicvowelsignleftdeva.glif</string>
	<key>llvocalicvowelsignlowdeva</key>
	<string>llvocalicvowelsignlowdeva.glif</string>
	<key>llvocalicvowelsignnuktadeva</key>
	<string>llvocalicvowelsignnuktadeva.glif</string>
	<key>llvocalicvowelsignnuktaleftdeva</key>
	<string>llvocalicvowelsignnuktaleftdeva.glif</string>
	<key>lvocalicdeva</key>
	<string>lvocalicdeva.glif</string>
	<key>lvocalicnuktadeva</key>
	<string>lvocalicnuktadeva.glif</string>
	<key>lvocalicvowelsigndeva</key>
	<string>lvocalicvowelsigndeva.glif</string>
	<key>lvocalicvowelsignleftdeva</key>
	<string>lvocalicvowelsignleftdeva.glif</string>
	<key>lvocalicvowelsignlowdeva</key>
	<string>lvocalicvowelsignlowdeva.glif</string>
	<key>lvocalicvowelsignnuktadeva</key>
	<string>lvocalicvowelsignnuktadeva.glif</string>
	<key>lvocalicvowelsignnuktaleftdeva</key>
	<string>lvocalicvowelsignnuktaleftdeva.glif</string>
	<key>m</key>
	<string>m.glif</string>
	<key>madeva</key>
	<string>madeva.glif</string>
	<key>manuktadeva</key>
	<string>manuktadeva.glif</string>
	<key>manuktaprehalfdeva</key>
	<string>manuktaprehalfdeva.glif</string>
	<key>manuktaradeva</key>
	<string>manuktaradeva.glif</string>
	<key>manuktaraprehalfdeva</key>
	<string>manuktaraprehalfdeva.glif</string>
	<key>maprehalfdeva</key>
	<string>maprehalfdeva.glif</string>
	<key>maradeva</key>
	<string>maradeva.glif</string>
	<key>maraprehalfdeva</key>
	<string>maraprehalfdeva.glif</string>
	<key>minus.deva</key>
	<string>minus.deva.glif</string>
	<key>multiply.deva</key>
	<string>multiply.deva.glif</string>
	<key>n</key>
	<string>n.glif</string>
	<key>nadeva</key>
	<string>nadeva.glif</string>
	<key>nanuktaprehalfdeva</key>
	<string>nanuktaprehalfdeva.glif</string>
	<key>nanuktaradeva</key>
	<string>nanuktaradeva.glif</string>
	<key>nanuktaraprehalfdeva</key>
	<string>nanuktaraprehalfdeva.glif</string>
	<key>naprehalfdeva</key>
	<string>naprehalfdeva.glif</string>
	<key>naradeva</key>
	<string>naradeva.glif</string>
	<key>naraprehalfdeva</key>
	<string>naraprehalfdeva.glif</string>
	<key>ngaaltdeva</key>
	<string>ngaaltdeva.glif</string>
	<key>ngadeva</key>
	<string>ngadeva.glif</string>
	<key>nganuktaaltdeva</key>
	<string>nganuktaaltdeva.glif</string>
	<key>nganuktadeva</key>
	<string>nganuktadeva.glif</string>
	<key>nganuktaprehalfdeva</key>
	<string>nganuktaprehalfdeva.glif</string>
	<key>nganuktaradeva</key>
	<string>nganuktaradeva.glif</string>
	<key>nganuktaraprehalfUIdeva</key>
	<string>nganuktaraprehalfU_I_deva.glif</string>
	<key>nganuktaraprehalfdeva</key>
	<string>nganuktaraprehalfdeva.glif</string>
	<key>ngaprehalfdeva</key>
	<string>ngaprehalfdeva.glif</string>
	<key>ngaradeva</key>
	<string>ngaradeva.glif</string>
	<key>ngaraprehalfUIdeva</key>
	<string>ngaraprehalfU_I_deva.glif</string>
	<key>ngaraprehalfdeva</key>
	<string>ngaraprehalfdeva.glif</string>
	<key>ngayadeva</key>
	<string>ngayadeva.glif</string>
	<key>nine.deva</key>
	<string>nine.deva.glif</string>
	<key>ninedeva</key>
	<string>ninedeva.glif</string>
	<key>nnadeva</key>
	<string>nnadeva.glif</string>
	<key>nnanuktadeva</key>
	<string>nnanuktadeva.glif</string>
	<key>nnanuktaprehalfdeva</key>
	<string>nnanuktaprehalfdeva.glif</string>
	<key>nnanuktaradeva</key>
	<string>nnanuktaradeva.glif</string>
	<key>nnanuktaraprehalfdeva</key>
	<string>nnanuktaraprehalfdeva.glif</string>
	<key>nnaprehalfdeva</key>
	<string>nnaprehalfdeva.glif</string>
	<key>nnaradeva</key>
	<string>nnaradeva.glif</string>
	<key>nnaraprehalfdeva</key>
	<string>nnaraprehalfdeva.glif</string>
	<key>nnnadeva</key>
	<string>nnnadeva.glif</string>
	<key>nonmarkingreturn</key>
	<string>nonmarkingreturn.glif</string>
	<key>nukta2deva</key>
	<string>nukta2deva.glif</string>
	<key>nuktadeva</key>
	<string>nuktadeva.glif</string>
	<key>nuktasmalldeva</key>
	<string>nuktasmalldeva.glif</string>
	<key>numbersign.deva</key>
	<string>numbersign.deva.glif</string>
	<key>nyadeva</key>
	<string>nyadeva.glif</string>
	<key>nyanuktadeva</key>
	<string>nyanuktadeva.glif</string>
	<key>nyanuktaprehalfdeva</key>
	<string>nyanuktaprehalfdeva.glif</string>
	<key>nyanuktaradeva</key>
	<string>nyanuktaradeva.glif</string>
	<key>nyanuktaraprehalfdeva</key>
	<string>nyanuktaraprehalfdeva.glif</string>
	<key>nyaprehalfdeva</key>
	<string>nyaprehalfdeva.glif</string>
	<key>nyaradeva</key>
	<string>nyaradeva.glif</string>
	<key>nyaraprehalfdeva</key>
	<string>nyaraprehalfdeva.glif</string>
	<key>o</key>
	<string>o.glif</string>
	<key>oanusvaradeva</key>
	<string>oanusvaradeva.glif</string>
	<key>ocandraanusvaradeva</key>
	<string>ocandraanusvaradeva.glif</string>
	<key>ocandradeva</key>
	<string>ocandradeva.glif</string>
	<key>ocandranuktaanusvaradeva</key>
	<string>ocandranuktaanusvaradeva.glif</string>
	<key>ocandranuktadeva</key>
	<string>ocandranuktadeva.glif</string>
	<key>ocandravowelsignanusvaradeva</key>
	<string>ocandravowelsignanusvaradeva.glif</string>
	<key>ocandravowelsigncandrabindudeva</key>
	<string>ocandravowelsigncandrabindudeva.glif</string>
	<key>ocandravowelsigndeva</key>
	<string>ocandravowelsigndeva.glif</string>
	<key>ocandravowelsignrephanusvaradeva</key>
	<string>ocandravowelsignrephanusvaradeva.glif</string>
	<key>ocandravowelsignrephanusvardeva</key>
	<string>ocandravowelsignrephanusvardeva.glif</string>
	<key>ocandravowelsignrephdeva</key>
	<string>ocandravowelsignrephdeva.glif</string>
	<key>odeva</key>
	<string>odeva.glif</string>
	<key>omdeva</key>
	<string>omdeva.glif</string>
	<key>one.deva</key>
	<string>one.deva.glif</string>
	<key>onedeva</key>
	<string>onedeva.glif</string>
	<key>onuktaanusvaradeva</key>
	<string>onuktaanusvaradeva.glif</string>
	<key>onuktadeva</key>
	<string>onuktadeva.glif</string>
	<key>oshortanusvaradeva</key>
	<string>oshortanusvaradeva.glif</string>
	<key>oshortdeva</key>
	<string>oshortdeva.glif</string>
	<key>oshortnuktaanusvaradeva</key>
	<string>oshortnuktaanusvaradeva.glif</string>
	<key>oshortnuktadeva</key>
	<string>oshortnuktadeva.glif</string>
	<key>oshortvowelsignanusvaradeva</key>
	<string>oshortvowelsignanusvaradeva.glif</string>
	<key>oshortvowelsigncandrabindudeva</key>
	<string>oshortvowelsigncandrabindudeva.glif</string>
	<key>oshortvowelsigndeva</key>
	<string>oshortvowelsigndeva.glif</string>
	<key>oshortvowelsignrephanusvaradeva</key>
	<string>oshortvowelsignrephanusvaradeva.glif</string>
	<key>oshortvowelsignrephdeva</key>
	<string>oshortvowelsignrephdeva.glif</string>
	<key>ovowelsignanusvaradeva</key>
	<string>ovowelsignanusvaradeva.glif</string>
	<key>ovowelsigncandrabindudeva</key>
	<string>ovowelsigncandrabindudeva.glif</string>
	<key>ovowelsigndeva</key>
	<string>ovowelsigndeva.glif</string>
	<key>ovowelsignrephanusvaradeva</key>
	<string>ovowelsignrephanusvaradeva.glif</string>
	<key>ovowelsignrephdeva</key>
	<string>ovowelsignrephdeva.glif</string>
	<key>p</key>
	<string>p.glif</string>
	<key>padeva</key>
	<string>padeva.glif</string>
	<key>panadeva</key>
	<string>panadeva.glif</string>
	<key>panuktadeva</key>
	<string>panuktadeva.glif</string>
	<key>panuktaprehalfdeva</key>
	<string>panuktaprehalfdeva.glif</string>
	<key>panuktaradeva</key>
	<string>panuktaradeva.glif</string>
	<key>panuktaraprehalfdeva</key>
	<string>panuktaraprehalfdeva.glif</string>
	<key>paprehalfdeva</key>
	<string>paprehalfdeva.glif</string>
	<key>paradeva</key>
	<string>paradeva.glif</string>
	<key>paraprehalfdeva</key>
	<string>paraprehalfdeva.glif</string>
	<key>parenleft.deva</key>
	<string>parenleft.deva.glif</string>
	<key>parenright.deva</key>
	<string>parenright.deva.glif</string>
	<key>percent.deva</key>
	<string>percent.deva.glif</string>
	<key>period.deva</key>
	<string>period.deva.glif</string>
	<key>phadeva</key>
	<string>phadeva.glif</string>
	<key>phanuktaprehalfdeva</key>
	<string>phanuktaprehalfdeva.glif</string>
	<key>phanuktaradeva</key>
	<string>phanuktaradeva.glif</string>
	<key>phanuktaraprehalfdeva</key>
	<string>phanuktaraprehalfdeva.glif</string>
	<key>phaprehalfdeva</key>
	<string>phaprehalfdeva.glif</string>
	<key>pharadeva</key>
	<string>pharadeva.glif</string>
	<key>pharaprehalfdeva</key>
	<string>pharaprehalfdeva.glif</string>
	<key>plus.deva</key>
	<string>plus.deva.glif</string>
	<key>q</key>
	<string>q.glif</string>
	<key>qadeva</key>
	<string>qadeva.glif</string>
	<key>question.deva</key>
	<string>question.deva.glif</string>
	<key>quotedbl.deva</key>
	<string>quotedbl.deva.glif</string>
	<key>quotedblleft.deva</key>
	<string>quotedblleft.deva.glif</string>
	<key>quotedblright.deva</key>
	<string>quotedblright.deva.glif</string>
	<key>quoteleft.deva</key>
	<string>quoteleft.deva.glif</string>
	<key>quoteright.deva</key>
	<string>quoteright.deva.glif</string>
	<key>quotesingle.deva</key>
	<string>quotesingle.deva.glif</string>
	<key>r</key>
	<string>r.glif</string>
	<key>radeva</key>
	<string>radeva.glif</string>
	<key>ranuktaprehalfdeva</key>
	<string>ranuktaprehalfdeva.glif</string>
	<key>ranuktaradeva</key>
	<string>ranuktaradeva.glif</string>
	<key>ranuktaraprehalfdeva</key>
	<string>ranuktaraprehalfdeva.glif</string>
	<key>ranuktaudeva</key>
	<string>ranuktaudeva.glif</string>
	<key>ranuktauudeva</key>
	<string>ranuktauudeva.glif</string>
	<key>raprehalfdeva</key>
	<string>raprehalfdeva.glif</string>
	<key>raradeva</key>
	<string>raradeva.glif</string>
	<key>raraprehalfdeva</key>
	<string>raraprehalfdeva.glif</string>
	<key>raudeva</key>
	<string>raudeva.glif</string>
	<key>rauudeva</key>
	<string>rauudeva.glif</string>
	<key>rephanusvaradeva</key>
	<string>rephanusvaradeva.glif</string>
	<key>rephdeva</key>
	<string>rephdeva.glif</string>
	<key>rhaaltdeva</key>
	<string>rhaaltdeva.glif</string>
	<key>rhadeva</key>
	<string>rhadeva.glif</string>
	<key>rradeva</key>
	<string>rradeva.glif</string>
	<key>rrvocalicdeva</key>
	<string>rrvocalicdeva.glif</string>
	<key>rrvocaliclowdeva</key>
	<string>rrvocaliclowdeva.glif</string>
	<key>rrvocalicnuktadeva</key>
	<string>rrvocalicnuktadeva.glif</string>
	<key>rrvocalicvowelsigndeva</key>
	<string>rrvocalicvowelsigndeva.glif</string>
	<key>rrvocalicvowelsignnuktadeva</key>
	<string>rrvocalicvowelsignnuktadeva.glif</string>
	<key>rrvocalicvowelsignnuktaleftdeva</key>
	<string>rrvocalicvowelsignnuktaleftdeva.glif</string>
	<key>rvocalicdeva</key>
	<string>rvocalicdeva.glif</string>
	<key>rvocalicnuktadeva</key>
	<string>rvocalicnuktadeva.glif</string>
	<key>rvocalicvowelsigndeva</key>
	<string>rvocalicvowelsigndeva.glif</string>
	<key>rvocalicvowelsignlowdeva</key>
	<string>rvocalicvowelsignlowdeva.glif</string>
	<key>rvocalicvowelsignnuktadeva</key>
	<string>rvocalicvowelsignnuktadeva.glif</string>
	<key>rvocalicvowelsignnuktaleftdeva</key>
	<string>rvocalicvowelsignnuktaleftdeva.glif</string>
	<key>s</key>
	<string>s.glif</string>
	<key>sadeva</key>
	<string>sadeva.glif</string>
	<key>sanuktadeva</key>
	<string>sanuktadeva.glif</string>
	<key>sanuktaprehalfdeva</key>
	<string>sanuktaprehalfdeva.glif</string>
	<key>sanuktaradeva</key>
	<string>sanuktaradeva.glif</string>
	<key>sanuktaraprehalfdeva</key>
	<string>sanuktaraprehalfdeva.glif</string>
	<key>saprehalfdeva</key>
	<string>saprehalfdeva.glif</string>
	<key>saradeva</key>
	<string>saradeva.glif</string>
	<key>saraprehalfdeva</key>
	<string>saraprehalfdeva.glif</string>
	<key>semicolon.deva</key>
	<string>semicolon.deva.glif</string>
	<key>seven.deva</key>
	<string>seven.deva.glif</string>
	<key>sevendeva</key>
	<string>sevendeva.glif</string>
	<key>sfthyphen.deva</key>
	<string>sfthyphen.deva.glif</string>
	<key>shacadeva</key>
	<string>shacadeva.glif</string>
	<key>shacaprehalfdeva</key>
	<string>shacaprehalfdeva.glif</string>
	<key>shadeva</key>
	<string>shadeva.glif</string>
	<key>shadevaMAR</key>
	<string>shadevaM_A_R_.glif</string>
	<key>shaladeva</key>
	<string>shaladeva.glif</string>
	<key>shaladevaMAR</key>
	<string>shaladevaM_A_R_.glif</string>
	<key>shanadeva</key>
	<string>shanadeva.glif</string>
	<key>shanuktadeva</key>
	<string>shanuktadeva.glif</string>
	<key>shanuktadevaMAR</key>
	<string>shanuktadevaM_A_R_.glif</string>
	<key>shanuktaprehalfdeva</key>
	<string>shanuktaprehalfdeva.glif</string>
	<key>shanuktaprehalfdevaMAR</key>
	<string>shanuktaprehalfdevaM_A_R_.glif</string>
	<key>shanuktaradeva</key>
	<string>shanuktaradeva.glif</string>
	<key>shanuktaraprehalfdeva</key>
	<string>shanuktaraprehalfdeva.glif</string>
	<key>shaprehalfaltdeva</key>
	<string>shaprehalfaltdeva.glif</string>
	<key>shaprehalfdeva</key>
	<string>shaprehalfdeva.glif</string>
	<key>shaprehalfdevaMAR</key>
	<string>shaprehalfdevaM_A_R_.glif</string>
	<key>sharadeva</key>
	<string>sharadeva.glif</string>
	<key>sharaprehalfdeva</key>
	<string>sharaprehalfdeva.glif</string>
	<key>shavadeva</key>
	<string>shavadeva.glif</string>
	<key>shavaprehalfdeva</key>
	<string>shavaprehalfdeva.glif</string>
	<key>six.deva</key>
	<string>six.deva.glif</string>
	<key>sixdeva</key>
	<string>sixdeva.glif</string>
	<key>slash.deva</key>
	<string>slash.deva.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>ssadeva</key>
	<string>ssadeva.glif</string>
	<key>ssanuktadeva</key>
	<string>ssanuktadeva.glif</string>
	<key>ssanuktaprehalfdeva</key>
	<string>ssanuktaprehalfdeva.glif</string>
	<key>ssanuktaradeva</key>
	<string>ssanuktaradeva.glif</string>
	<key>ssanuktaraprehalfdeva</key>
	<string>ssanuktaraprehalfdeva.glif</string>
	<key>ssaprehalfdeva</key>
	<string>ssaprehalfdeva.glif</string>
	<key>ssaradeva</key>
	<string>ssaradeva.glif</string>
	<key>ssaraprehalfdeva</key>
	<string>ssaraprehalfdeva.glif</string>
	<key>ssattadeva</key>
	<string>ssattadeva.glif</string>
	<key>ssattaradeva</key>
	<string>ssattaradeva.glif</string>
	<key>ssatthadeva</key>
	<string>ssatthadeva.glif</string>
	<key>ssattharadeva</key>
	<string>ssattharadeva.glif</string>
	<key>t</key>
	<string>t.glif</string>
	<key>tadeva</key>
	<string>tadeva.glif</string>
	<key>tanuktadeva</key>
	<string>tanuktadeva.glif</string>
	<key>tanuktaprehalfdeva</key>
	<string>tanuktaprehalfdeva.glif</string>
	<key>tanuktaradeva</key>
	<string>tanuktaradeva.glif</string>
	<key>tanuktaraprehalfdeva</key>
	<string>tanuktaraprehalfdeva.glif</string>
	<key>taprehalfdeva</key>
	<string>taprehalfdeva.glif</string>
	<key>taradeva</key>
	<string>taradeva.glif</string>
	<key>taraprehalfdeva</key>
	<string>taraprehalfdeva.glif</string>
	<key>tatadeva</key>
	<string>tatadeva.glif</string>
	<key>tataprehalfdeva</key>
	<string>tataprehalfdeva.glif</string>
	<key>thadeva</key>
	<string>thadeva.glif</string>
	<key>thanuktadeva</key>
	<string>thanuktadeva.glif</string>
	<key>thanuktaprehalfdeva</key>
	<string>thanuktaprehalfdeva.glif</string>
	<key>thanuktaradeva</key>
	<string>thanuktaradeva.glif</string>
	<key>thanuktaraprehalfdeva</key>
	<string>thanuktaraprehalfdeva.glif</string>
	<key>thaprehalfdeva</key>
	<string>thaprehalfdeva.glif</string>
	<key>tharadeva</key>
	<string>tharadeva.glif</string>
	<key>tharaprehalfdeva</key>
	<string>tharaprehalfdeva.glif</string>
	<key>three.deva</key>
	<string>three.deva.glif</string>
	<key>threedeva</key>
	<string>threedeva.glif</string>
	<key>ttaaltdeva</key>
	<string>ttaaltdeva.glif</string>
	<key>ttadeva</key>
	<string>ttadeva.glif</string>
	<key>ttanuktaaltdeva</key>
	<string>ttanuktaaltdeva.glif</string>
	<key>ttanuktadeva</key>
	<string>ttanuktadeva.glif</string>
	<key>ttanuktaprehalfdeva</key>
	<string>ttanuktaprehalfdeva.glif</string>
	<key>ttanuktaradeva</key>
	<string>ttanuktaradeva.glif</string>
	<key>ttanuktaraprehalfUIdeva</key>
	<string>ttanuktaraprehalfU_I_deva.glif</string>
	<key>ttanuktaraprehalfdeva</key>
	<string>ttanuktaraprehalfdeva.glif</string>
	<key>ttaprehalfdeva</key>
	<string>ttaprehalfdeva.glif</string>
	<key>ttaradeva</key>
	<string>ttaradeva.glif</string>
	<key>ttaraprehalfUIdeva</key>
	<string>ttaraprehalfU_I_deva.glif</string>
	<key>ttaraprehalfdeva</key>
	<string>ttaraprehalfdeva.glif</string>
	<key>ttattadeva</key>
	<string>ttattadeva.glif</string>
	<key>ttattauudeva</key>
	<string>ttattauudeva.glif</string>
	<key>ttatthadeva</key>
	<string>ttatthadeva.glif</string>
	<key>ttatthauudeva</key>
	<string>ttatthauudeva.glif</string>
	<key>ttayadeva</key>
	<string>ttayadeva.glif</string>
	<key>tthaaltdeva</key>
	<string>tthaaltdeva.glif</string>
	<key>tthadeva</key>
	<string>tthadeva.glif</string>
	<key>tthanuktaaltdeva</key>
	<string>tthanuktaaltdeva.glif</string>
	<key>tthanuktadeva</key>
	<string>tthanuktadeva.glif</string>
	<key>tthanuktaprehalfdeva</key>
	<string>tthanuktaprehalfdeva.glif</string>
	<key>tthanuktaradeva</key>
	<string>tthanuktaradeva.glif</string>
	<key>tthanuktaraprehalfUIdeva</key>
	<string>tthanuktaraprehalfU_I_deva.glif</string>
	<key>tthanuktaraprehalfdeva</key>
	<string>tthanuktaraprehalfdeva.glif</string>
	<key>tthaprehalfdeva</key>
	<string>tthaprehalfdeva.glif</string>
	<key>ttharadeva</key>
	<string>ttharadeva.glif</string>
	<key>ttharaprehalfUIdeva</key>
	<string>ttharaprehalfU_I_deva.glif</string>
	<key>ttharaprehalfdeva</key>
	<string>ttharaprehalfdeva.glif</string>
	<key>tthatthadeva</key>
	<string>tthatthadeva.glif</string>
	<key>tthayadeva</key>
	<string>tthayadeva.glif</string>
	<key>two.deva</key>
	<string>two.deva.glif</string>
	<key>twodeva</key>
	<string>twodeva.glif</string>
	<key>u</key>
	<string>u.glif</string>
	<key>udattadeva</key>
	<string>udattadeva.glif</string>
	<key>udeva</key>
	<string>udeva.glif</string>
	<key>underscore.deva</key>
	<string>underscore.deva.glif</string>
	<key>uni02BC</key>
	<string>uni02B_C_.glif</string>
	<key>uni0953</key>
	<string>uni0953.glif</string>
	<key>uni0954</key>
	<string>uni0954.glif</string>
	<key>uni0971</key>
	<string>uni0971.glif</string>
	<key>uni097D</key>
	<string>uni097D_.glif</string>
	<key>uni200B</key>
	<string>uni200B_.glif</string>
	<key>uni200C</key>
	<string>uni200C_.glif</string>
	<key>uni200D</key>
	<string>uni200D_.glif</string>
	<key>uni20B9.deva</key>
	<string>uni20B_9.deva.glif</string>
	<key>uni25CC</key>
	<string>uni25C_C_.glif</string>
	<key>unuktadeva</key>
	<string>unuktadeva.glif</string>
	<key>uudeva</key>
	<string>uudeva.glif</string>
	<key>uunuktadeva</key>
	<string>uunuktadeva.glif</string>
	<key>uuvowelsigndeva</key>
	<string>uuvowelsigndeva.glif</string>
	<key>uuvowelsignlowdeva</key>
	<string>uuvowelsignlowdeva.glif</string>
	<key>uuvowelsignnuktadeva</key>
	<string>uuvowelsignnuktadeva.glif</string>
	<key>uuvowelsignnuktaleftdeva</key>
	<string>uuvowelsignnuktaleftdeva.glif</string>
	<key>uvowelsigndeva</key>
	<string>uvowelsigndeva.glif</string>
	<key>uvowelsignlowdeva</key>
	<string>uvowelsignlowdeva.glif</string>
	<key>uvowelsignnarrowdeva</key>
	<string>uvowelsignnarrowdeva.glif</string>
	<key>uvowelsignnuktadeva</key>
	<string>uvowelsignnuktadeva.glif</string>
	<key>uvowelsignnuktaleftdeva</key>
	<string>uvowelsignnuktaleftdeva.glif</string>
	<key>v</key>
	<string>v.glif</string>
	<key>vadeva</key>
	<string>vadeva.glif</string>
	<key>vanuktadeva</key>
	<string>vanuktadeva.glif</string>
	<key>vanuktaprehalfdeva</key>
	<string>vanuktaprehalfdeva.glif</string>
	<key>vanuktaradeva</key>
	<string>vanuktaradeva.glif</string>
	<key>vanuktaraprehalfdeva</key>
	<string>vanuktaraprehalfdeva.glif</string>
	<key>vaprehalfdeva</key>
	<string>vaprehalfdeva.glif</string>
	<key>varadeva</key>
	<string>varadeva.glif</string>
	<key>varaprehalfdeva</key>
	<string>varaprehalfdeva.glif</string>
	<key>vattudeva</key>
	<string>vattudeva.glif</string>
	<key>vattullvocalicdeva</key>
	<string>vattullvocalicdeva.glif</string>
	<key>vattulvocalicdeva</key>
	<string>vattulvocalicdeva.glif</string>
	<key>vatturrvocalicdeva</key>
	<string>vatturrvocalicdeva.glif</string>
	<key>vatturvocalicdeva</key>
	<string>vatturvocalicdeva.glif</string>
	<key>vatturvocaliclowdeva</key>
	<string>vatturvocaliclowdeva.glif</string>
	<key>vatturvocaliclownuktadeva</key>
	<string>vatturvocaliclownuktadeva.glif</string>
	<key>vattuudeva</key>
	<string>vattuudeva.glif</string>
	<key>vattuulowdeva</key>
	<string>vattuulowdeva.glif</string>
	<key>vattuulownuktadeva</key>
	<string>vattuulownuktadeva.glif</string>
	<key>vattuuudeva</key>
	<string>vattuuudeva.glif</string>
	<key>vattuuulowdeva</key>
	<string>vattuuulowdeva.glif</string>
	<key>vattuuulownuktadeva</key>
	<string>vattuuulownuktadeva.glif</string>
	<key>vattuviramadeva</key>
	<string>vattuviramadeva.glif</string>
	<key>vattuviramalowdeva</key>
	<string>vattuviramalowdeva.glif</string>
	<key>vattuviramalownuktadeva</key>
	<string>vattuviramalownuktadeva.glif</string>
	<key>vayadeva</key>
	<string>vayadeva.glif</string>
	<key>viramadeva</key>
	<string>viramadeva.glif</string>
	<key>viramalowdeva</key>
	<string>viramalowdeva.glif</string>
	<key>viramanuktadeva</key>
	<string>viramanuktadeva.glif</string>
	<key>visargadeva</key>
	<string>visargadeva.glif</string>
	<key>w</key>
	<string>w.glif</string>
	<key>x</key>
	<string>x.glif</string>
	<key>y</key>
	<string>y.glif</string>
	<key>yadeva</key>
	<string>yadeva.glif</string>
	<key>yanuktaprehalfdeva</key>
	<string>yanuktaprehalfdeva.glif</string>
	<key>yanuktaradeva</key>
	<string>yanuktaradeva.glif</string>
	<key>yanuktaraprehalfdeva</key>
	<string>yanuktaraprehalfdeva.glif</string>
	<key>yaprehalfdeva</key>
	<string>yaprehalfdeva.glif</string>
	<key>yaradeva</key>
	<string>yaradeva.glif</string>
	<key>yaraprehalfdeva</key>
	<string>yaraprehalfdeva.glif</string>
	<key>yyadeva</key>
	<string>yyadeva.glif</string>
	<key>z</key>
	<string>z.glif</string>
	<key>zadeva</key>
	<string>zadeva.glif</string>
	<key>zero.deva</key>
	<string>zero.deva.glif</string>
	<key>zerodeva</key>
	<string>zerodeva.glif</string>
</dict>
</plist>
