<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<dict>
		<key>C</key>
		<integer>-37</integer>
		<key>G</key>
		<integer>-37</integer>
		<key>J</key>
		<integer>239</integer>
		<key>O</key>
		<integer>-37</integer>
		<key>Q</key>
		<integer>-37</integer>
		<key>T</key>
		<integer>-129</integer>
		<key>V</key>
		<integer>-74</integer>
		<key>W</key>
		<integer>-74</integer>
		<key>Y</key>
		<integer>-111</integer>
		<key>quotedbl</key>
		<integer>-129</integer>
		<key>quotedblright</key>
		<integer>-129</integer>
		<key>quoteright</key>
		<integer>-129</integer>
		<key>quotesingle</key>
		<integer>-129</integer>
	</dict>
	<key>B</key>
	<dict>
		<key>A</key>
		<integer>-37</integer>
		<key>T</key>
		<integer>-55</integer>
		<key>V</key>
		<integer>-18</integer>
		<key>W</key>
		<integer>-18</integer>
		<key>X</key>
		<integer>-37</integer>
		<key>Y</key>
		<integer>-18</integer>
		<key>Z</key>
		<integer>-18</integer>
		<key>comma</key>
		<integer>-74</integer>
		<key>period</key>
		<integer>-74</integer>
	</dict>
	<key>C</key>
	<dict>
		<key>C</key>
		<integer>-37</integer>
		<key>G</key>
		<integer>-37</integer>
		<key>O</key>
		<integer>-37</integer>
		<key>Q</key>
		<integer>-37</integer>
	</dict>
	<key>D</key>
	<dict>
		<key>A</key>
		<integer>-37</integer>
		<key>T</key>
		<integer>-55</integer>
		<key>V</key>
		<integer>-18</integer>
		<key>W</key>
		<integer>-18</integer>
		<key>X</key>
		<integer>-37</integer>
		<key>Y</key>
		<integer>-18</integer>
		<key>Z</key>
		<integer>-18</integer>
		<key>comma</key>
		<integer>-74</integer>
		<key>period</key>
		<integer>-74</integer>
	</dict>
	<key>E</key>
	<dict>
		<key>J</key>
		<integer>111</integer>
	</dict>
	<key>F</key>
	<dict>
		<key>A</key>
		<integer>-37</integer>
		<key>comma</key>
		<integer>-111</integer>
		<key>period</key>
		<integer>-111</integer>
		<key>question</key>
		<integer>37</integer>
	</dict>
	<key>K</key>
	<dict>
		<key>C</key>
		<integer>-37</integer>
		<key>G</key>
		<integer>-37</integer>
		<key>O</key>
		<integer>-37</integer>
		<key>Q</key>
		<integer>-37</integer>
	</dict>
	<key>L</key>
	<dict>
		<key>C</key>
		<integer>-37</integer>
		<key>G</key>
		<integer>-37</integer>
		<key>O</key>
		<integer>-37</integer>
		<key>Q</key>
		<integer>-37</integer>
		<key>T</key>
		<integer>-37</integer>
		<key>U</key>
		<integer>-18</integer>
		<key>V</key>
		<integer>-37</integer>
		<key>W</key>
		<integer>-37</integer>
		<key>Y</key>
		<integer>-55</integer>
		<key>quotedbl</key>
		<integer>-148</integer>
		<key>quotedblright</key>
		<integer>-148</integer>
		<key>quoteright</key>
		<integer>-148</integer>
		<key>quotesingle</key>
		<integer>-148</integer>
	</dict>
	<key>O</key>
	<dict>
		<key>A</key>
		<integer>-37</integer>
		<key>T</key>
		<integer>-55</integer>
		<key>V</key>
		<integer>-18</integer>
		<key>W</key>
		<integer>-18</integer>
		<key>X</key>
		<integer>-37</integer>
		<key>Y</key>
		<integer>-18</integer>
		<key>Z</key>
		<integer>-18</integer>
		<key>comma</key>
		<integer>-74</integer>
		<key>period</key>
		<integer>-74</integer>
	</dict>
	<key>P</key>
	<dict>
		<key>A</key>
		<integer>-92</integer>
		<key>X</key>
		<integer>-37</integer>
		<key>Z</key>
		<integer>-18</integer>
		<key>comma</key>
		<integer>-239</integer>
		<key>period</key>
		<integer>-239</integer>
	</dict>
	<key>Q</key>
	<dict>
		<key>A</key>
		<integer>-37</integer>
		<key>T</key>
		<integer>-55</integer>
		<key>V</key>
		<integer>-18</integer>
		<key>W</key>
		<integer>-18</integer>
		<key>X</key>
		<integer>-37</integer>
		<key>Y</key>
		<integer>-18</integer>
		<key>Z</key>
		<integer>-18</integer>
		<key>comma</key>
		<integer>-74</integer>
		<key>period</key>
		<integer>-74</integer>
	</dict>
	<key>T</key>
	<dict>
		<key>A</key>
		<integer>-129</integer>
		<key>C</key>
		<integer>-37</integer>
		<key>G</key>
		<integer>-37</integer>
		<key>O</key>
		<integer>-37</integer>
		<key>Q</key>
		<integer>-37</integer>
		<key>T</key>
		<integer>37</integer>
		<key>a</key>
		<integer>-148</integer>
		<key>afii00208</key>
		<integer>-74</integer>
		<key>c</key>
		<integer>-129</integer>
		<key>comma</key>
		<integer>-111</integer>
		<key>d</key>
		<integer>-129</integer>
		<key>e</key>
		<integer>-129</integer>
		<key>emdash</key>
		<integer>-74</integer>
		<key>endash</key>
		<integer>-74</integer>
		<key>g</key>
		<integer>-129</integer>
		<key>hyphen</key>
		<integer>-74</integer>
		<key>m</key>
		<integer>-92</integer>
		<key>n</key>
		<integer>-92</integer>
		<key>o</key>
		<integer>-129</integer>
		<key>p</key>
		<integer>-92</integer>
		<key>period</key>
		<integer>-111</integer>
		<key>q</key>
		<integer>-129</integer>
		<key>question</key>
		<integer>37</integer>
		<key>r</key>
		<integer>-92</integer>
		<key>s</key>
		<integer>-111</integer>
		<key>u</key>
		<integer>-92</integer>
		<key>v</key>
		<integer>-37</integer>
		<key>w</key>
		<integer>-37</integer>
		<key>x</key>
		<integer>-37</integer>
		<key>y</key>
		<integer>-37</integer>
		<key>z</key>
		<integer>-74</integer>
	</dict>
	<key>U</key>
	<dict>
		<key>A</key>
		<integer>-18</integer>
		<key>comma</key>
		<integer>-37</integer>
		<key>period</key>
		<integer>-37</integer>
	</dict>
	<key>V</key>
	<dict>
		<key>A</key>
		<integer>-74</integer>
		<key>C</key>
		<integer>-18</integer>
		<key>G</key>
		<integer>-18</integer>
		<key>O</key>
		<integer>-18</integer>
		<key>Q</key>
		<integer>-18</integer>
		<key>a</key>
		<integer>-37</integer>
		<key>c</key>
		<integer>-37</integer>
		<key>comma</key>
		<integer>-92</integer>
		<key>d</key>
		<integer>-37</integer>
		<key>e</key>
		<integer>-37</integer>
		<key>g</key>
		<integer>-18</integer>
		<key>m</key>
		<integer>-18</integer>
		<key>n</key>
		<integer>-18</integer>
		<key>o</key>
		<integer>-37</integer>
		<key>p</key>
		<integer>-18</integer>
		<key>period</key>
		<integer>-92</integer>
		<key>q</key>
		<integer>-37</integer>
		<key>question</key>
		<integer>37</integer>
		<key>r</key>
		<integer>-18</integer>
		<key>s</key>
		<integer>-18</integer>
		<key>u</key>
		<integer>-18</integer>
	</dict>
	<key>W</key>
	<dict>
		<key>A</key>
		<integer>-74</integer>
		<key>C</key>
		<integer>-18</integer>
		<key>G</key>
		<integer>-18</integer>
		<key>O</key>
		<integer>-18</integer>
		<key>Q</key>
		<integer>-18</integer>
		<key>a</key>
		<integer>-37</integer>
		<key>c</key>
		<integer>-37</integer>
		<key>comma</key>
		<integer>-92</integer>
		<key>d</key>
		<integer>-37</integer>
		<key>e</key>
		<integer>-37</integer>
		<key>g</key>
		<integer>-18</integer>
		<key>m</key>
		<integer>-18</integer>
		<key>n</key>
		<integer>-18</integer>
		<key>o</key>
		<integer>-37</integer>
		<key>p</key>
		<integer>-18</integer>
		<key>period</key>
		<integer>-92</integer>
		<key>q</key>
		<integer>-37</integer>
		<key>question</key>
		<integer>37</integer>
		<key>r</key>
		<integer>-18</integer>
		<key>s</key>
		<integer>-18</integer>
		<key>u</key>
		<integer>-18</integer>
	</dict>
	<key>X</key>
	<dict>
		<key>C</key>
		<integer>-37</integer>
		<key>G</key>
		<integer>-37</integer>
		<key>O</key>
		<integer>-37</integer>
		<key>Q</key>
		<integer>-37</integer>
	</dict>
	<key>Y</key>
	<dict>
		<key>A</key>
		<integer>-111</integer>
		<key>C</key>
		<integer>-37</integer>
		<key>G</key>
		<integer>-37</integer>
		<key>O</key>
		<integer>-37</integer>
		<key>Q</key>
		<integer>-37</integer>
		<key>a</key>
		<integer>-92</integer>
		<key>c</key>
		<integer>-92</integer>
		<key>comma</key>
		<integer>-111</integer>
		<key>d</key>
		<integer>-92</integer>
		<key>e</key>
		<integer>-92</integer>
		<key>g</key>
		<integer>-37</integer>
		<key>m</key>
		<integer>-55</integer>
		<key>n</key>
		<integer>-55</integer>
		<key>o</key>
		<integer>-92</integer>
		<key>p</key>
		<integer>-55</integer>
		<key>period</key>
		<integer>-111</integer>
		<key>q</key>
		<integer>-92</integer>
		<key>question</key>
		<integer>37</integer>
		<key>r</key>
		<integer>-55</integer>
		<key>s</key>
		<integer>-74</integer>
		<key>u</key>
		<integer>-55</integer>
		<key>z</key>
		<integer>-37</integer>
	</dict>
	<key>Z</key>
	<dict>
		<key>C</key>
		<integer>-18</integer>
		<key>G</key>
		<integer>-18</integer>
		<key>O</key>
		<integer>-18</integer>
		<key>Q</key>
		<integer>-18</integer>
	</dict>
	<key>a</key>
	<dict>
		<key>quotedbl</key>
		<integer>-18</integer>
		<key>quotedblright</key>
		<integer>-18</integer>
		<key>quoteright</key>
		<integer>-18</integer>
		<key>quotesingle</key>
		<integer>-18</integer>
	</dict>
	<key>b</key>
	<dict>
		<key>quotedbl</key>
		<integer>-18</integer>
		<key>quotedblright</key>
		<integer>-18</integer>
		<key>quoteright</key>
		<integer>-18</integer>
		<key>quotesingle</key>
		<integer>-18</integer>
		<key>v</key>
		<integer>-37</integer>
		<key>w</key>
		<integer>-37</integer>
		<key>x</key>
		<integer>-37</integer>
		<key>y</key>
		<integer>-37</integer>
		<key>z</key>
		<integer>-18</integer>
	</dict>
	<key>braceleft</key>
	<dict>
		<key>J</key>
		<integer>166</integer>
	</dict>
	<key>bracketleft</key>
	<dict>
		<key>J</key>
		<integer>166</integer>
	</dict>
	<key>c</key>
	<dict>
		<key>quotedbl</key>
		<integer>37</integer>
		<key>quotedblright</key>
		<integer>37</integer>
		<key>quoteright</key>
		<integer>37</integer>
		<key>quotesingle</key>
		<integer>37</integer>
	</dict>
	<key>comma</key>
	<dict>
		<key>C</key>
		<integer>-92</integer>
		<key>G</key>
		<integer>-92</integer>
		<key>O</key>
		<integer>-92</integer>
		<key>Q</key>
		<integer>-92</integer>
		<key>T</key>
		<integer>-129</integer>
		<key>U</key>
		<integer>-37</integer>
		<key>V</key>
		<integer>-111</integer>
		<key>W</key>
		<integer>-111</integer>
		<key>Y</key>
		<integer>-111</integer>
	</dict>
	<key>e</key>
	<dict>
		<key>quotedbl</key>
		<integer>-18</integer>
		<key>quotedblright</key>
		<integer>-18</integer>
		<key>quoteright</key>
		<integer>-18</integer>
		<key>quotesingle</key>
		<integer>-18</integer>
		<key>v</key>
		<integer>-37</integer>
		<key>w</key>
		<integer>-37</integer>
		<key>x</key>
		<integer>-37</integer>
		<key>y</key>
		<integer>-37</integer>
		<key>z</key>
		<integer>-18</integer>
	</dict>
	<key>f</key>
	<dict>
		<key>quotedbl</key>
		<integer>111</integer>
		<key>quotedblright</key>
		<integer>111</integer>
		<key>quoteright</key>
		<integer>111</integer>
		<key>quotesingle</key>
		<integer>111</integer>
	</dict>
	<key>h</key>
	<dict>
		<key>quotedbl</key>
		<integer>-18</integer>
		<key>quotedblright</key>
		<integer>-18</integer>
		<key>quoteright</key>
		<integer>-18</integer>
		<key>quotesingle</key>
		<integer>-18</integer>
	</dict>
	<key>hyphen</key>
	<dict>
		<key>T</key>
		<integer>-74</integer>
	</dict>
	<key>k</key>
	<dict>
		<key>c</key>
		<integer>-37</integer>
		<key>d</key>
		<integer>-37</integer>
		<key>e</key>
		<integer>-37</integer>
		<key>o</key>
		<integer>-37</integer>
		<key>q</key>
		<integer>-37</integer>
	</dict>
	<key>m</key>
	<dict>
		<key>quotedbl</key>
		<integer>-18</integer>
		<key>quotedblright</key>
		<integer>-18</integer>
		<key>quoteright</key>
		<integer>-18</integer>
		<key>quotesingle</key>
		<integer>-18</integer>
	</dict>
	<key>n</key>
	<dict>
		<key>quotedbl</key>
		<integer>-18</integer>
		<key>quotedblright</key>
		<integer>-18</integer>
		<key>quoteright</key>
		<integer>-18</integer>
		<key>quotesingle</key>
		<integer>-18</integer>
	</dict>
	<key>o</key>
	<dict>
		<key>quotedbl</key>
		<integer>-18</integer>
		<key>quotedblright</key>
		<integer>-18</integer>
		<key>quoteright</key>
		<integer>-18</integer>
		<key>quotesingle</key>
		<integer>-18</integer>
		<key>v</key>
		<integer>-37</integer>
		<key>w</key>
		<integer>-37</integer>
		<key>x</key>
		<integer>-37</integer>
		<key>y</key>
		<integer>-37</integer>
		<key>z</key>
		<integer>-18</integer>
	</dict>
	<key>p</key>
	<dict>
		<key>quotedbl</key>
		<integer>-18</integer>
		<key>quotedblright</key>
		<integer>-18</integer>
		<key>quoteright</key>
		<integer>-18</integer>
		<key>quotesingle</key>
		<integer>-18</integer>
		<key>v</key>
		<integer>-37</integer>
		<key>w</key>
		<integer>-37</integer>
		<key>x</key>
		<integer>-37</integer>
		<key>y</key>
		<integer>-37</integer>
		<key>z</key>
		<integer>-18</integer>
	</dict>
	<key>parenleft</key>
	<dict>
		<key>J</key>
		<integer>166</integer>
	</dict>
	<key>period</key>
	<dict>
		<key>C</key>
		<integer>-92</integer>
		<key>G</key>
		<integer>-92</integer>
		<key>O</key>
		<integer>-92</integer>
		<key>Q</key>
		<integer>-92</integer>
		<key>T</key>
		<integer>-129</integer>
		<key>U</key>
		<integer>-37</integer>
		<key>V</key>
		<integer>-111</integer>
		<key>W</key>
		<integer>-111</integer>
		<key>Y</key>
		<integer>-111</integer>
	</dict>
	<key>quotedbl</key>
	<dict>
		<key>A</key>
		<integer>-129</integer>
		<key>T</key>
		<integer>37</integer>
		<key>V</key>
		<integer>37</integer>
		<key>W</key>
		<integer>37</integer>
		<key>Y</key>
		<integer>18</integer>
		<key>a</key>
		<integer>-74</integer>
		<key>c</key>
		<integer>-111</integer>
		<key>d</key>
		<integer>-111</integer>
		<key>e</key>
		<integer>-111</integer>
		<key>g</key>
		<integer>-55</integer>
		<key>m</key>
		<integer>-55</integer>
		<key>n</key>
		<integer>-55</integer>
		<key>o</key>
		<integer>-111</integer>
		<key>p</key>
		<integer>-55</integer>
		<key>q</key>
		<integer>-111</integer>
		<key>r</key>
		<integer>-55</integer>
		<key>s</key>
		<integer>-55</integer>
		<key>u</key>
		<integer>-55</integer>
	</dict>
	<key>quotesingle</key>
	<dict>
		<key>A</key>
		<integer>-129</integer>
		<key>T</key>
		<integer>37</integer>
		<key>V</key>
		<integer>37</integer>
		<key>W</key>
		<integer>37</integer>
		<key>Y</key>
		<integer>18</integer>
		<key>a</key>
		<integer>-74</integer>
		<key>c</key>
		<integer>-111</integer>
		<key>d</key>
		<integer>-111</integer>
		<key>e</key>
		<integer>-111</integer>
		<key>g</key>
		<integer>-55</integer>
		<key>m</key>
		<integer>-55</integer>
		<key>n</key>
		<integer>-55</integer>
		<key>o</key>
		<integer>-111</integer>
		<key>p</key>
		<integer>-55</integer>
		<key>q</key>
		<integer>-111</integer>
		<key>r</key>
		<integer>-55</integer>
		<key>s</key>
		<integer>-55</integer>
		<key>u</key>
		<integer>-55</integer>
	</dict>
	<key>r</key>
	<dict>
		<key>a</key>
		<integer>-37</integer>
		<key>c</key>
		<integer>-37</integer>
		<key>d</key>
		<integer>-37</integer>
		<key>e</key>
		<integer>-37</integer>
		<key>g</key>
		<integer>-18</integer>
		<key>o</key>
		<integer>-37</integer>
		<key>q</key>
		<integer>-37</integer>
		<key>quotedbl</key>
		<integer>74</integer>
		<key>quotedblright</key>
		<integer>74</integer>
		<key>quoteright</key>
		<integer>74</integer>
		<key>quotesingle</key>
		<integer>74</integer>
	</dict>
	<key>t</key>
	<dict>
		<key>quotedbl</key>
		<integer>37</integer>
		<key>quotedblright</key>
		<integer>37</integer>
		<key>quoteright</key>
		<integer>37</integer>
		<key>quotesingle</key>
		<integer>37</integer>
	</dict>
	<key>v</key>
	<dict>
		<key>comma</key>
		<integer>-74</integer>
		<key>period</key>
		<integer>-74</integer>
		<key>question</key>
		<integer>37</integer>
		<key>quotedbl</key>
		<integer>74</integer>
		<key>quotedblright</key>
		<integer>74</integer>
		<key>quoteright</key>
		<integer>74</integer>
		<key>quotesingle</key>
		<integer>74</integer>
	</dict>
	<key>w</key>
	<dict>
		<key>comma</key>
		<integer>-74</integer>
		<key>period</key>
		<integer>-74</integer>
		<key>question</key>
		<integer>37</integer>
		<key>quotedbl</key>
		<integer>74</integer>
		<key>quotedblright</key>
		<integer>74</integer>
		<key>quoteright</key>
		<integer>74</integer>
		<key>quotesingle</key>
		<integer>74</integer>
	</dict>
	<key>x</key>
	<dict>
		<key>c</key>
		<integer>-37</integer>
		<key>d</key>
		<integer>-37</integer>
		<key>e</key>
		<integer>-37</integer>
		<key>o</key>
		<integer>-37</integer>
		<key>q</key>
		<integer>-37</integer>
	</dict>
	<key>y</key>
	<dict>
		<key>comma</key>
		<integer>-74</integer>
		<key>period</key>
		<integer>-74</integer>
		<key>question</key>
		<integer>37</integer>
		<key>quotedbl</key>
		<integer>74</integer>
		<key>quotedblright</key>
		<integer>74</integer>
		<key>quoteright</key>
		<integer>74</integer>
		<key>quotesingle</key>
		<integer>74</integer>
	</dict>
</dict>
</plist>
