<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ascender</key>
	<integer>1836</integer>
	<key>capHeight</key>
	<integer>1274</integer>
	<key>copyright</key>
	<string>Copyright 2012 Google Inc. All Rights Reserved.</string>
	<key>descender</key>
	<integer>-836</integer>
	<key>familyName</key>
	<string>Khula</string>
	<key>macintoshFONDFamilyID</key>
	<integer>128</integer>
	<key>macintoshFONDName</key>
	<string>Open Sans Devanagari</string>
	<key>openTypeHeadCreated</key>
	<string>2014/07/28 10:12:40</string>
	<key>openTypeHeadLowestRecPPEM</key>
	<integer>9</integer>
	<key>openTypeNameCompatibleFullName</key>
	<string>Khula ExtraBold</string>
	<key>openTypeNameDescription</key>
	<string>Designed by Monotype design team</string>
	<key>openTypeNameDesigner</key>
	<string>Monotype Design team, Erin McLaughlin</string>
	<key>openTypeNameDesignerURL</key>
	<string>http://www.monotypeimaging.com/ProductsServices/TypeDesignerShowcase</string>
	<key>openTypeNameLicense</key>
	<string>Licensed under the Apache License, Version 2.0</string>
	<key>openTypeNameLicenseURL</key>
	<string>http://www.apache.org/licenses/LICENSE-2.0</string>
	<key>openTypeNameManufacturer</key>
	<string>Monotype Imaging Inc.</string>
	<key>openTypeNameManufacturerURL</key>
	<string>http://code.google.com/p/noto/</string>
	<key>openTypeNamePreferredFamilyName</key>
	<string>Khula</string>
	<key>openTypeNamePreferredSubfamilyName</key>
	<string>ExtraBold</string>
	<key>openTypeNameUniqueID</key>
	<string>Monotype Imaging - Khula ExtraBold</string>
	<key>openTypeNameVersion</key>
	<string>Version 1.03</string>
	<key>openTypeOS2CodePageRanges</key>
	<array>
		<integer>0</integer>
	</array>
	<key>openTypeOS2FamilyClass</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>openTypeOS2Panose</key>
	<array>
		<integer>2</integer>
		<integer>11</integer>
		<integer>8</integer>
		<integer>6</integer>
		<integer>3</integer>
		<integer>8</integer>
		<integer>4</integer>
		<integer>2</integer>
		<integer>2</integer>
		<integer>4</integer>
	</array>
	<key>openTypeOS2StrikeoutPosition</key>
	<integer>641</integer>
	<key>openTypeOS2StrikeoutSize</key>
	<integer>102</integer>
	<key>openTypeOS2SubscriptXOffset</key>
	<integer>0</integer>
	<key>openTypeOS2SubscriptXSize</key>
	<integer>1433</integer>
	<key>openTypeOS2SubscriptYOffset</key>
	<integer>191</integer>
	<key>openTypeOS2SubscriptYSize</key>
	<integer>1331</integer>
	<key>openTypeOS2SuperscriptXOffset</key>
	<integer>0</integer>
	<key>openTypeOS2SuperscriptXSize</key>
	<integer>1433</integer>
	<key>openTypeOS2SuperscriptYOffset</key>
	<integer>642</integer>
	<key>openTypeOS2SuperscriptYSize</key>
	<integer>1331</integer>
	<key>openTypeOS2Type</key>
	<array>
		<integer>3</integer>
	</array>
	<key>openTypeOS2UnicodeRanges</key>
	<array>
		<integer>0</integer>
		<integer>15</integer>
		<integer>31</integer>
	</array>
	<key>openTypeOS2VendorID</key>
	<string>MONO</string>
	<key>openTypeOS2WeightClass</key>
	<integer>800</integer>
	<key>openTypeOS2WidthClass</key>
	<integer>5</integer>
	<key>postscriptBlueFuzz</key>
	<integer>1</integer>
	<key>postscriptBlueScale</key>
	<real>0.0396</real>
	<key>postscriptBlueShift</key>
	<integer>7</integer>
	<key>postscriptBlueValues</key>
	<array>
	</array>
	<key>postscriptDefaultWidthX</key>
	<integer>500</integer>
	<key>postscriptFamilyBlues</key>
	<array>
	</array>
	<key>postscriptFamilyOtherBlues</key>
	<array>
	</array>
	<key>postscriptFontName</key>
	<string>OpenSansDevanagari-ExtraBold</string>
	<key>postscriptForceBold</key>
	<true/>
	<key>postscriptFullName</key>
	<string>Open Sans Devanagari ExtraBold</string>
	<key>postscriptIsFixedPitch</key>
	<false/>
	<key>postscriptOtherBlues</key>
	<array>
	</array>
	<key>postscriptSlantAngle</key>
	<real>0.0</real>
	<key>postscriptStemSnapH</key>
	<array>
	</array>
	<key>postscriptStemSnapV</key>
	<array>
	</array>
	<key>postscriptUniqueID</key>
	<integer>-1</integer>
	<key>postscriptWindowsCharacterSet</key>
	<integer>1</integer>
	<key>styleMapFamilyName</key>
	<string>Khula ExtraBold</string>
	<key>styleMapStyleName</key>
	<string>regular</string>
	<key>styleName</key>
	<string>ExraBold</string>
	<key>trademark</key>
	<string>Noto is a trademark of Google Inc. and may be registered in certain jurisdictions.</string>
	<key>unitsPerEm</key>
	<integer>2048</integer>
	<key>versionMajor</key>
	<integer>1</integer>
	<key>versionMinor</key>
	<integer>3</integer>
	<key>xHeight</key>
	<integer>1274</integer>
	<key>year</key>
	<integer>2012</integer>
</dict>
</plist>
