<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_L_K</key>
	<dict>
		<key>@MMK_R_R_Cha</key>
		<integer>-160</integer>
		<key>@MMK_R_R_Da</key>
		<integer>-20</integer>
		<key>@MMK_R_R_Dda</key>
		<integer>-30</integer>
		<key>@MMK_R_R_Dha</key>
		<integer>-90</integer>
		<key>@MMK_R_R_Ga</key>
		<integer>-110</integer>
		<key>@MMK_R_R_Gha</key>
		<integer>-105</integer>
		<key>@MMK_R_R_Ma</key>
		<integer>-65</integer>
		<key>@MMK_R_R_Pha</key>
		<integer>-20</integer>
		<key>@MMK_R_R_Ra</key>
		<integer>25</integer>
	</dict>
	<key>@MMK_L_L_Kh</key>
	<dict>
		<key>@MMK_R_R_Dha</key>
		<integer>-10</integer>
		<key>@MMK_R_R_Gha</key>
		<integer>-30</integer>
		<key>@MMK_R_R_Ja</key>
		<integer>-20</integer>
		<key>@MMK_R_R_Nya</key>
		<integer>-25</integer>
		<key>@MMK_R_R_Tha</key>
		<integer>-80</integer>
		<key>@MMK_R_R_Va</key>
		<integer>-10</integer>
		<key>@MMK_R_R_Ya</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_L_Ra</key>
	<dict>
		<key>@MMK_R_R_Ca</key>
		<integer>-20</integer>
		<key>@MMK_R_R_Da</key>
		<integer>-30</integer>
		<key>@MMK_R_R_Ha</key>
		<integer>-10</integer>
		<key>@MMK_R_R_Ja</key>
		<integer>-50</integer>
		<key>@MMK_R_R_Ka</key>
		<integer>-30</integer>
		<key>@MMK_R_R_La</key>
		<integer>-40</integer>
		<key>@MMK_R_R_Na</key>
		<integer>-20</integer>
		<key>@MMK_R_R_Nya</key>
		<integer>-20</integer>
		<key>@MMK_R_R_Ra</key>
		<integer>-40</integer>
		<key>@MMK_R_R_Ta</key>
		<integer>-30</integer>
		<key>@MMK_R_R_Va</key>
		<integer>-50</integer>
	</dict>
	<key>@MMK_L_L_Rr</key>
	<dict>
		<key>@MMK_R_R_Dha</key>
		<integer>-10</integer>
		<key>@MMK_R_R_Gha</key>
		<integer>-40</integer>
	</dict>
	<key>eightdeva</key>
	<dict>
		<key>ninedeva</key>
		<integer>-30</integer>
	</dict>
	<key>fivedeva</key>
	<dict>
		<key>fourdeva</key>
		<integer>-30</integer>
		<key>ninedeva</key>
		<integer>-20</integer>
		<key>onedevaNEP</key>
		<integer>-30</integer>
	</dict>
	<key>fourdeva</key>
	<dict>
		<key>eightdeva</key>
		<integer>-40</integer>
		<key>eightdevaNEP</key>
		<integer>10</integer>
		<key>fivedeva</key>
		<integer>-10</integer>
		<key>zerodeva</key>
		<integer>-50</integer>
	</dict>
	<key>ninedeva</key>
	<dict>
		<key>fivedeva</key>
		<integer>-30</integer>
		<key>threedeva</key>
		<integer>30</integer>
	</dict>
	<key>onedeva</key>
	<dict>
		<key>eightdeva</key>
		<integer>-30</integer>
		<key>fivedeva</key>
		<integer>-30</integer>
		<key>sevendeva</key>
		<integer>-20</integer>
	</dict>
	<key>rrvocalicdeva</key>
	<dict>
		<key>@MMK_R_R_Dha</key>
		<integer>-30</integer>
		<key>@MMK_R_R_Gha</key>
		<integer>-50</integer>
	</dict>
	<key>sevendeva</key>
	<dict>
		<key>fourdeva</key>
		<integer>-40</integer>
		<key>onedevaNEP</key>
		<integer>-20</integer>
	</dict>
	<key>sixdeva</key>
	<dict>
		<key>eightdeva</key>
		<integer>30</integer>
		<key>onedevaNEP</key>
		<integer>-50</integer>
	</dict>
	<key>twodeva</key>
	<dict>
		<key>eightdeva</key>
		<integer>-20</integer>
		<key>fivedeva</key>
		<integer>-20</integer>
		<key>sixdeva</key>
		<integer>40</integer>
	</dict>
	<key>zerodeva</key>
	<dict>
		<key>fourdeva</key>
		<integer>-50</integer>
	</dict>
</dict>
</plist>
